<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

 <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->


        <!-- CONTENT --------------------------------------------------------------------------------->

        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/benevole/a-propos-benevole-back.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">DEVENIR BENEVOLE</div><br>
                    <h4 class="">
                        <span class="text-original-case">Un grand merci aux 300 bénévoles de l'édition 2019 !</span><br>
                        <span class="text-original-case">Rendez-vous en mars 2020 pour remettre ça !</span>
                    </h4>
                </div>
            </div>
        </section>

        <div class="mt-3"></div>

        <section id="testimonial" class="parallax parallax-background1 pt-5 pt-sm-60 pt-60">
            <div class="container pb-3">
                <div class="testimonial-carousel">
                    <div class="item">
                        <div id="testimonial-video-orga" class="testimonial text-center">
                            <div class="title">
                                <h4 class="text-center">
                                    <span class="text-original-case">Viens faire orga avec tes amis, découvrir les coulisses et participer à l'organisation d'un des plus grands festivals étudiants de France !</span>
                                </h4>
                            </div>
                            <h5 style="font-weight: bold;" class="d-none">VIENS FAIRE ORGA AVEC TES AMIS, DECOUVRIR LES COULISSES ET PARTICIPER à L'ORGANISATION D'UN DES PLUS GRANDS FESTIVALS éTUDIANTS DE FRANCE</h5>
                            <iframe style="opacity: 0.9;" id="frame-video-orga" src="https://www.youtube.com/embed/MaOALnpdShE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="testimonial text-center dark-color">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
			$(window).resize(function() {
				var w = $('#testimonial-video-orga').width();
				if(w > 560*1.5){
					$("#frame-video-orga").height(315*1.5);
					$("#frame-video-orga").width(560*1.5);
                }else {
					$("#frame-video-orga").height(w * 315 / 560);
					$("#frame-video-orga").width(w);
				}
			});
        </script>


        <section class="p-60 pb-60 d-none">
            <div class="container text-centerr">
                <div class="title">
                    <h4 class="text-center">
                        <span class="text-original-case">Si tu souhaites faire partie des organisateurs actifs durant toute l'année, n'hésites pas à nous contacter. La nouvelle équipe qui organisera l'édition sera décidée dès Octobre !</span>
                    </h4>
                </div>
            </div>
        </section>

        <section id="testimonial" class="parallax parallax-background1 pb-5" >
            <div class="container">
                <div class="testimonial-carousel">
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <h4 class="pt-5"><span>Être bénévole, qu'est-ce que ça veut dire ?</span></h4>
                            <p>
                                <span>
                                Avant tout, c'est veiller au bon déroulement du festival, de jour comme de nuit ! Tu te verras confier des missions variées telles que l'accueil des festivaliers
                                    sur les différentes animations en journée ou le service au bar en soirée. En tout cas tu ne risques pas de t'ennuyer !
                                    <br>Être bénévole c'est aussi voir les coulisses du festival et vivre des moments inoubliables comme tu pourras le voir sur les photos ci dessous.
                                </span>
                            </p>
                            <h4 class="pt-5">Est-ce que je pourrais quand même profiter du festival ?</h4>
                            <p>
                                Évidemment ! Nous proposons une grande flexibilité à nos bénévoles. Pour ce faire, tu devras indiquer les créneaux horaires sur lesquels tu es disponible.<br>
                                Cependant, nous exigeons un minimum de disponibilité pour faire partie de l'équipe des bénévoles. Si tu es retenu, nous t'en informerons par email.
                            </p>
                            <h4 class="pt-5">Ok je veux faire bénévole !</h4>
                            <p>
                                Mince ! Les inscriptions ne sont pas encore ouvertes et ouvriront en mars.<br>
                                Mais si tu le souhaites, tu peux nous laisser tes coordonnées et te pré-inscrire avec le formulaire ci-dessous, nous te préviendrons dès que tu pourras t'inscrires !
                            </p>
                            <h4 style="font-weight: normal"><button class="btn btn-lg btn-color-a"><a href="https://docs.google.com/forms/d/e/1FAIpQLSe8EZt13RYHexLiTk1xWp_gI-5DTUjdtt_JKM6C76H9LWrsow/viewform?usp=sf_link">PRE-INSCRIPTIONS ICI</a></button></h4>
                            <p class="pt-1" style="font-weight: normal;">Contact et informations à : humain@24heures.org</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="testimonial" class="ptb parallax parallax-background1 pt-2 pt-md-4 d-none" >
            <div class="container">
                <div class="testimonial-carousel">
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <h2 style="font-weight: normal;" class="mb-0">LE RECRUTEMENT EST OUVERT</h2>
                            <h6 style="font-weight: normal;"></h6>
                            <h3 style="font-weight: normal"><button class="btn btn-lg"><a href="http://assomaker.24heures.org/login/token/85365b7c91dae190208fa7d7afd990a1?fbclid=IwAR3u8lu_-bKvo2X0H04A0Wp3gepGbsZPMRIU9IVKJ0dThdpoyK_pSZC3s2g">INSCRIPTIONS ICI</a></button></h3>
                            <h4 class="pt-5"><span>Comment s'inscrire ?</span></h4>
                            <p>
                                <span>
                                Connecte toi avec un compte google sur <a style="color: rgba(255,253,251,0.9);" href="http://assomaker.24heures.org/login/token/85365b7c91dae190208fa7d7afd990a1?fbclid=IwAR3u8lu_-bKvo2X0H04A0Wp3gepGbsZPMRIU9IVKJ0dThdpoyK_pSZC3s2g">ORGA 24H</a>.
                                Commence par remplir tes disponibilités (plus tu en mets, plus tes chances d’être pris sont élevées) et indique les personnes avec qui tu veux être affecté.
                                Si tu as des préférences pour les missions (catering, technique, animations...), si tu as des talents cachés ou une quelconque précision à apporter par rapport à ta personne, indique les en commentaire.<br>
                                On t’attend avec impatience !
                                </span>
                            </p>
                            <h4 class="pt-5">C’est une bonne situation ça orga ?</h4>
                            <p>
                                Être orga sur les 24 est une immersion dans la vie associative, une occasion unique d’organiser un tel événement, et une expérience de partage et de rencontres.
                                Mais c’est aussi de nombreux avantages, un accès aux concerts, des consos aux bars, une place garantie au QG des orgas où réconfort, nourriture et bonne ambiance t’attendent,
                                et bien d’autres !
                            </p>
                            <h4 class="pt-5">Les 24 en quelques mots</h4>
                            <p>
                                Les 24 sont le plus grand festival étudiant de France !
                                L’espace d’un week-end le campus de l’Insa Lyon est converti en une zone riche en événements: 3 soirs de concerts, 2 journées de loisirs pour petits et grands et 3 épreuves sportives de courses d’endurance !
                                Difficile de croire qu’il y a 45 ans, tout a commencé par une course à vélo de 24h autour des résidences étudiantes.<br>
                                Ce festival ne pourrait gagner de l’ampleur sans l’investissement de tous les bénévoles. Chaque année, 200 orgas participent au bon déroulement du festival !
                                C’est pour cela qu’on a besoin de toi ! Si tu as envie d’aider à l'organisation du festival et de découvrir tout ce qui s'y cache derrière, n'hésite pas: être bénévole est fait pour toi !
                                Des missions variées t'attendent, tu pourras t'inventer barman, animateur, électricien ou même cuistot mais aussi caresser des chèvres, jouer avec des enfants ou tirer des bières.
                            </p>
                            <h4 class="pt-5" style="font-weight: normal;">Contact et informations à : humain@24heures.org</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mb-5">
            <div class="container text-centerr">
                <div class="title">
                    <h4 class="text-center">
                        <span class="text-original-case">Quelques photos des coulisses de l'organisation</span>
                    </h4>
                </div>

                <div class="owl-carousel item1-carousel nf-carousel-theme o-flow-hidden">
                    <div class="item text-center">
                        <img alt="" src="../img/benevole/photo_benevole_24h_2018 (7).jpg" />
                    </div>
                    <div class="item text-center">
                        <img alt="" src="../img/benevole/photo_benevole_24h_2018 (13).jpg" />
                    </div>
                    <div class="item text-center">
                        <img alt="" src="../img/benevole/photo_benevole_24h_2018 (10).jpg" />
                    </div>
                    <div class="item text-center">
                        <img alt="" src="../img/benevole/benevole-banc.jpg" />
                    </div>
                    <div class="item text-center">
                        <img alt="" src="../img/benevole/benevole-paille.jpg" />
                    </div>
                    <div class="item text-center">
                        <img alt="" src="../img/benevole/photo_benevole_24h_2018 (9).jpg" />
                    </div>
                    <div class="item text-center">
                        <img alt="" src="../img/benevole/photo_benevole_24h_2018 (1).jpg" />
                    </div>
                    <div class="item text-center">
                        <img alt="" src="../img/benevole/photo_benevole_24h_2018 (5).jpg" />
                    </div>
                    <div class="item text-center">
                        <img alt="" src="../img/benevole/a-propos-benevole-back.jpg" />
                    </div>
                    <div class="item text-center">
                        <img alt="" src="../img/benevole/montage-scene-grande.jpg" />
                    </div>
                    <div class="item text-center">
                        <img alt="" src="../img/benevole/montage-scene-petite.jpg" />
                    </div>
                    <div class="item text-center">
                        <img alt="" src="../img/benevole/photo_benevole_24h_2018 (6).jpg" />
                    </div>
                    <div class="item text-center">
                        <img alt="" src="../img/benevole/a-propos-benevole-back-2.jpg" />
                    </div>
                    <div class="item text-center">
                        <img alt="" src="../img/benevole/photo_benevole_24h_2018 (14).jpg" />
                    </div>
                    <div class="item text-center">
                        <img alt="" src="../img/benevole/photo_benevole_24h_2018 (15).jpg" />
                    </div>
                </div>

            </div>
        </section>

        <div class="mt-3 mb-3"></div>

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script>
		$(".btn-plus-info").click(function(){
			setTimeout(function(){
				$(".jjj").each(function(i){
					var w = $(this).width();
					if (w > 0) {
						$(".modal-artiste-video").height(w*315/560);
						return false;
                    }
				});
			}, 1000);
		});
		$(window).resize(function() {
			$(".jjj").each(function(i){
				var w = $(this).width();
				if (w > 0) {
					$(".modal-artiste-video").height(w*315/560);
					return false;
				}
			});
		});
    </script>
    <script type="text/javascript">
		$("#menu-a-propos").css('color', '#e83e43');
		$("#sidebar-menu-benevoles").css('color', '#e83e43');
		$("#title-page-nav").append("Devenir bénévole");
		var w = $('#testimonial-video-orga').width();
		if(w > 5601.5){
			$("#frame-video-orga").height(315*1.5);
			$("#frame-video-orga").width(560*1.5);
		}else {
			$("#frame-video-orga").height(w * 315 / 560);
			$("#frame-video-orga").width(w);
		}
    </script>
    
</body>
</html>
