<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->


        <!-- CONTENT --------------------------------------------------------------------------------->

        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/a-propos-partenaires.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">PARTENAIRES</div><br>
                    <h4 class="">
                        <span class="text-original-case">Merci à tous nos partenaires pour le soutien qu'ils apportent au festival</span>
                    </h4>
                </div>
            </div>
        </section>

        <div class="mt-3 mb-3"></div>

        <!-- Work Section -->
        <section class="ptb pt-5">
            <div class="container">

                <h4 class="text-center">PARTENAIRES INSTITUTIONNELS</h4>
                <div class="row container-masonry nf-col-4 mb-5">

                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_INSA_couleur_sf.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">INSA de Lyon</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_Villeurbanne_couleur_sf.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Ville de Villeurbanne</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_grand_lyon_trans.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Le Grand Lyon</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_UNIVERSITE_LYON_couleur_sf.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Université de Lyon</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_villedelyon_couleurCMJN_plein.jpg" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Ville de Lyon</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_CROUSLyon_couleur_plein.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Crous de Lyon</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_alumni_couleur_plein.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Alumni INSA</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

                <h4 class="text-center">PARTENAIRES OFFICIELS</h4>
                <div class="row container-masonry nf-col-4 mb-5">

                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_Ninkasi_noir_sf.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Ninkasi</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_NML_couleur_sf.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Ninkasi Musik Lab</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_lyfpay_couleur_sf.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Lyf Pay<br>Code promo : 24HINSA</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_concertsysteme_couleur_plein.jpg" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Concert Systemes</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_Mantu_couleur_sf.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Mantu</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_isosteo_couleur_sf.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Isostéo</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_weleda_nb_sf.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Weleda</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_exalto_couleur_sf.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Exalto</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_verrerie_villeurbanne_couleur_transparent.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Verrerie Villeurbannaise</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_worldline2_couleur_sf.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Worldline</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

                <h4 class="text-center">PARTENAIRES MEDIAS</h4>
                <div class="row container-masonry nf-col-4 mb-5">

                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_radio_scoop_couleur_sf.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Radio Scoop</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_make_x_lyon_noir_sf.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Make X Lyon</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_petit_paume_noir_plein.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Le petit Paumé</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

                <h4 class="text-center">ASSOCIATIONS PARTENAIRES</h4>
                <div class="row container-masonry nf-col-4 mb-5">

                    <!--<div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_avenirsante_couleur_transparent.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Avenir Santé</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>-->
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_VAvieassociative_couleur_transparent.png" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Vie Associative Insa Lyon</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: scale-down" src="../img/partenaires/logo_gaelis_2019_couleur_fond.jpg" class="item-container logo-partenaire-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Gaelis</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>


            </div>
        </section>
        <!-- End Work Section -->

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script type="text/javascript">
		$("#menu-a-propos").css('color', '#e83d44');
		$("#sidebar-menu-partenaires").css('color', '#e83d44');
		$("#title-page-nav").append("Partenaires");
    </script>
    
</body>
</html>
