<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section> <!--
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->


        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- About Section -->
        <section id="about" class="pt pt-sm-60">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <div class="col-md-8 offset-md-2"></div>
                        <h2 class="m-0">
                            <span class="color-animations">Prévention</span><br />
                        </h2>
                        <h4>
                            <span class="text-original-case">Tout le week-end, rencontrez les associations au village prévention et développement durable</span>
                        </h4>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section -->

        <section class="ptb pt-5">
            <div class="container">
                <!-- work Filter -->
                <div class="row">
                    <ul class="col container-filter categories-filter">
                        <li><a class="categories active" data-filter="*">TOUT</a></li>
                        <li><a class="categories" data-filter=".vendredi">VENDREDI</a></li>
                        <li><a class="categories" data-filter=".samedi">SAMEDI</a></li>
                        <li><a class="categories" data-filter=".dimanche">DIMANCHE</a></li>
                    </ul>
                </div>
                <!-- End work Filter -->

                <!-- ANIMATIONS -->
                <div class="row container-grid nf-col-3">

                    <!-- AVENIR SANTE -->
                    <div class="nf-item samedi vendredi cofee spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" src="/img/animations/prevention_avenir_sante.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Avenir Santé (Prévention Sexe, Alcool, Drogue)</h5>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#avenir-sante-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <h3 class="color-animations letter-spacing-1 text-center mb-0 titre-artiste-item">Avenir Santé <span style="font-size:10px;">(Prévention)</span></h3>
                        <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI 20h - 01h / SAMEDI 20h - 01h</h6>
                    </div>
                    <div class="modal fade m-auto p-0" id="avenir-sante-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">Avenir Santé (Prévention Sexe, Alcool, Drogue)</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">VENDREDI 20h - 01h / SAMEDI 20h - 01h</h6>
                                    <div class="text-center map-responsive">
                                        <img alt="1" src="/img/animations/prevention_avenir_sante.jpg" class="item-container">
                                    </div>
                                    <p class="text-justify m-0 pt-1">L'association Avenir Santé vient faire des démarches de prévention pour protéger les festivaliers !
                                        Elle vient notamment vous sensibiliser sur les pratiques à risques liées à l'alcool et au sexe et pour représenter l'opération SAM.<br>
                                        Tu pourras aussi récupérer des préservatifs pour une fin de soirée parfaite en toute sécurité !</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- INGE ENGAGES -->
                    <div class="nf-item samedi cofee spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" src="/img/animations/prevention_ingenieurs_engages.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Ingénieurs engagés</h5>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#ingenieurs-engages-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <h3 class="color-animations letter-spacing-1 text-center mb-0 titre-artiste-item">Ingénieurs engagés</h3>
                        <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI 10h - 18h</h6>
                    </div>
                    <div class="modal fade m-auto p-0" id="ingenieurs-engages-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">Ingénieurs engagés</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI 10h - 18h</h6>
                                    <div class="text-center map-responsive">
                                        <img alt="1" src="/img/animations/prevention_ingenieurs_engages.jpg" class="item-container">
                                    </div>
                                    <p class="text-justify m-0 pt-1">Ingénieurs engagés vous présenteront leurs actions, les problématiques auxquelles un ingénieur peut être confronté durant son parcours.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- LA GONETTE -->
                    <div class="nf-item samedi cofee spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" src="/img/animations/prevention_la_gonette.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">La Gonette</h5>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#gonette-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <h3 class="color-animations letter-spacing-1 text-center mb-0 titre-artiste-item">La Gonette</h3>
                        <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI 10h - 18h</h6>
                    </div>
                    <div class="modal fade m-auto p-0" id="gonette-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">La Gonette</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI 10h - 18h</h6>
                                    <div class="text-center map-responsive">
                                        <img alt="1" src="/img/animations/prevention_la_gonette.jpg" class="item-container">
                                    </div>
                                    <p class="text-justify m-0 pt-1">La Gonette propose un stand pour vous présenter la monnaie locale de Lyon : comment et où elle peut être utilisée mais aussi tous ses avantages !</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- DOUA VERT -->
                    <div class="nf-item samedi cofee spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" src="/img/animations/prevention_doua_vert.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">DOUA Vert (Jardinage)</h5>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#douavert-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <h3 class="color-animations letter-spacing-1 text-center mb-0 titre-artiste-item">DOUA Vert (Jardinage)</h3>
                        <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI 10h - 18h</h6>
                    </div>
                    <div class="modal fade m-auto p-0" id="douavert-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">DOUA Vert (Jardinage)</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI 10h - 18h</h6>
                                    <div class="text-center map-responsive">
                                        <img alt="1" src="/img/animations/prevention_doua_vert.jpg" class="item-container">
                                    </div>
                                    <p class="text-justify m-0 pt-1">Le Doua Vert vous propose une séance d'initiation au jardinage, ouvert à tous, dans leur jardin partagé !</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- COEUR DE BOUCHONS -->
                    <div class="nf-item samedi dimanche cofee spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" src="/img/animations/prevention_coeur_bouchon.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Coeur2Bouchons</h5>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#bouchon-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <h3 class="color-animations letter-spacing-1 text-center mb-0 titre-artiste-item">Coeur2Bouchons</h3>
                        <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI 10h - 18h / DIMANCHE 10h - 18h</h6>
                    </div>
                    <div class="modal fade m-auto p-0" id="bouchon-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">Coeur2Bouchons</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI 10h - 18h / DIMANCHE 10h - 18h</h6>
                                    <div class="text-center map-responsive">
                                        <img alt="1" src="/img/animations/prevention_coeur_bouchon.jpg" class="item-container">
                                    </div>
                                    <p class="text-justify m-0 pt-1">L'association Cœur2bouchons viens vous présenter leurs actions et leurs projets à la fois pour la planète et pour les personnes en situation de handicap.<br>
                                        Vous les retrouverez en journée autour d'un jeu ludique pour petits et grands !</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PLANNING FAMILIAL -->
                    <div class="nf-item dimanche cofee spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" src="/img/animations/prevention_planning_familial.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Planning Familial</h5>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#planning-familial-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <h3 class="color-animations letter-spacing-1 text-center mb-0 titre-artiste-item">Planning Familial</h3>
                        <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">DIMANCHE 10h - 18h</h6>
                    </div>
                    <div class="modal fade m-auto p-0" id="planning-familial-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">Planning Familial</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">DIMANCHE 10h - 18h</h6>
                                    <div class="text-center map-responsive">
                                        <img alt="1" src="/img/animations/prevention_planning_familial.jpg" class="item-container">
                                    </div>
                                    <p class="text-justify m-0 pt-1">Le Planning familial lutte contre toutes les formes de violence, défend le droit à la conception, à l'avortement et à l'éducation de la sexualité.<br>
                                        Passe à leur stand, ils répondront à toutes les questions que tu te poses ! </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CONSILYON -->
                    <div class="nf-item samedi cofee spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" src="/img/animations/prevention_consilyon.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Consilyon (Recyclage)</h5>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#consilyon-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <h3 class="color-animations letter-spacing-1 text-center mb-0 titre-artiste-item">Consilyon (Recyclage)</h3>
                        <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI 10h - 18h</h6>
                    </div>
                    <div class="modal fade m-auto p-0" id="consilyon-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">Consilyon (Recyclage)</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI 10h - 18h</h6>
                                    <div class="text-center map-responsive">
                                        <img alt="1" src="/img/animations/prevention_consilyon.jpg" class="item-container">
                                    </div>
                                    <p class="text-justify m-0 pt-1">Venez découvrir le recyclage des bouteilles en verre sur Lyon avec CONSILYON !</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- OBJECTIF 21 -->
                    <div class="nf-item samedi cofee spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" src="/img/animations/prevention_objectif_21.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Objectif 21</h5>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#objectif21-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <h3 class="color-animations letter-spacing-1 text-center mb-0 titre-artiste-item">Objectif 21</h3>
                        <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI 10h - 18h</h6>
                    </div>
                    <div class="modal fade m-auto p-0" id="objectif21-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">Objectif 21</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI 10h - 18h</h6>
                                    <div class="text-center map-responsive">
                                        <img alt="1" src="/img/animations/prevention_objectif_21.jpg" class="item-container">
                                    </div>
                                    <p class="text-justify m-0 pt-1">L'association Objectif 21 vous aidera à faire votre propre éponge, lessive et d'autres produits ménagers de manière écologique et responsable !</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ALTERNATIBA -->
                    <div class="nf-item samedi cofee spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" src="/img/animations/prevention_alternatiba.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Alternatiba</h5>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#alternatiba-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <h3 class="color-animations letter-spacing-1 text-center mb-0 titre-artiste-item">Alternatiba</h3>
                        <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI 10h - 18h</h6>
                    </div>
                    <div class="modal fade m-auto p-0" id="alternatiba-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">Alternatiba</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI 10h - 18h</h6>
                                    <div class="text-center map-responsive">
                                        <img alt="1" src="/img/animations/prevention_alternatiba.jpg" class="item-container">
                                    </div>
                                    <p class="text-justify m-0 pt-1">Alternatiba propose une formation à l'action non-violente et une présentation de leur association !</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SECOURS POPULAIRE -->
                    <div class="nf-item d-none samedi dimanche cofee spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" src="/img/animations/prevention_secours_populaire.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Secours Populaire</h5>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#secours-populaire-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <h3 class="color-animations letter-spacing-1 text-center mb-0 titre-artiste-item">Secours Populaire</h3>
                        <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI 10h - 18h / DIMANCHE 10h - 18h</h6>
                    </div>
                    <div class="modal fade m-auto p-0" id="secours-populaire-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">Secours Populaire</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI 10h - 18h / DIMANCHE 10h - 18h</h6>
                                    <div class="text-center map-responsive">
                                        <img alt="1" src="/img/animations/prevention_secours_populaire.jpg" class="item-container">
                                    </div>
                                    <p class="text-justify m-0 pt-1"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- LE PARCOURS DU COEUR -->
                    <div class="nf-item d-none samedi dimanche cofee spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" src="/img/animations/prevention_parcours_coeur.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Le Parcours du Coeur</h5>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#parcours-coeur-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <h3 class="color-animations letter-spacing-1 text-center mb-0 titre-artiste-item">Le Parcours du Coeur</h3>
                        <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI 10h - 18h / DIMANCHE 10h - 18h</h6>
                    </div>
                    <div class="modal fade m-auto p-0" id="parcours-coeur-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">Le Parcours du Coeur</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI 10h - 18h / DIMANCHE 10h - 18h</h6>
                                    <div class="text-center map-responsive">
                                        <img alt="1" src="/img/animations/prevention_parcours_coeur.jpg" class="item-container">
                                    </div>
                                    <p class="text-justify m-0 pt-1"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- AMNESTY INTERNATIONAL -->
                    <div class="nf-item d-none dimanche cofee spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" src="/img/animations/amnesty_international.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Amnesty International</h5>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#amnesty-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <h3 class="color-animations letter-spacing-1 text-center mb-0 titre-artiste-item">Amnesty International</h3>
                        <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">DIMANCHE 10h - 18h</h6>
                    </div>
                    <div class="modal fade m-auto p-0" id="amnesty-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">Amnesty International</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">DIMANCHE 10h - 18h</h6>
                                    <div class="text-center map-responsive">
                                        <img alt="1" src="/img/animations/prevention_amnesty_international.jpg" class="item-container">
                                    </div>
                                    <p class="text-justify m-0 pt-1"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- GENEPI -->
                    <div class="nf-item samedi cofee spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" src="/img/animations/animation_generique2.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Animation GENEPI</h5>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#genepi-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <h3 class="color-animations letter-spacing-1 text-center mb-0 titre-artiste-item">Animation GENEPI</h3>
                        <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI 10h - 18h</h6>
                    </div>
                    <div class="modal fade m-auto p-0" id="genepi-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">Animation GENEPI</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI 10h - 18h</h6>
                                    <div class="text-center map-responsive">
                                        <img alt="1" src="/img/animations/animation_generique2.jpg" class="item-container">
                                    </div>
                                    <p class="text-justify m-0 pt-1">
                                        Un groupe d'étudiants va vous faire découvrir les trésors du campus et vous propose un petit jeu inspiré des " INVADERS ".<br><br>
                                        Accro à ton téléphone ? Protections de tes données personnelles ? Consommation d’électricité en augmentation ?
                                        Viens explorer tous ces enjeux au travers d'un jeu ludique pour petits et grands mené par un groupe d'étudiants en Génie Environnement.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </section>

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script>
		$(".btn-plus-info").click(function(){
			setTimeout(function(){
				$(".jjj").each(function(i){
					var w = $(this).width();
					if (w > 0) {
						$(".modal-artiste-video").height(w*315/560);
						return false;
                    }
				});
			}, 1000);
		});
		$(window).resize(function() {
			$(".jjj").each(function(i){
				var w = $(this).width();
				if (w > 0) {
					$(".modal-artiste-video").height(w*315/560);
					return false;
				}
			});
		});

		$("#menu-animation").css('color', '#F11286');
		$("#sidebar-menu-prevention").css('color', '#F11286');
    </script>
    <script type="text/javascript">
		$("#title-page-nav").append("Animations");
    </script>
    
</body>
</html>
