<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->
        <style>
            h1, h2, h3, h4, h5, h6, a:not(.footerlien) {
                color: #eeeeee;
            }
        </style>

        <style type="text/css">
            /* counter clock css */
            ul.countdown {
                list-style: none;
                padding: 0;
                display: block;
                text-align: center;
                font-family: 'arial', sans-serif !important;
            }

            .font-billetterie-date{
                font-size: 9vw;
            }

            .font-billetterie-date2{
                font-size: 3vw;
            }

            ul.countdown li {
                display: inline-block;
            }

            ul.countdown li span {
                font-size: 7.5vw;
                font-weight: 300;
            }

            ul.countdown li.seperator {
                font-size: 3vw;
                line-height: 30px;
                vertical-align: top;
            }

            ul.countdown li p {
                color: #e83d44;
                font-size: 3vw;
            }
            /* emd counter clock css */

            @media (max-width: 767px) {

                .text-center-xs {
                    text-align: center;
                }
            }

            @media (min-width: 1000px) {
                .font-billetterie-date{
                    font-size: 100px;
                }
                .font-billetterie-date2{
                    font-size: 30px;
                }

                ul.countdown li span {
                    font-size: 90px;
                    font-weight: 300;
                }

                ul.countdown li.seperator {
                    font-size: 60px;
                    line-height: 40px;
                    vertical-align: top;
                }

                ul.countdown li p {
                    color: #e83d44;
                    font-size: 28px;
                }
            }
        </style>

        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- About Section -->
        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="img/background/home-bellecour.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">BILLETTERIE</div><br>
                    <h4 class="">
                        <span class="text-original-case">Vous étiez plus de 10 000 chaque soir pour les concerts de l'édition 2019 ! MERCI !</span>
                    </h4>
                    <h4 class="d-none">
                        <span class="text-original-case">La billetterie ouvrira le Dimanche 02 Février 2020 à 14h</span>
                    </h4>
                </div>
            </div>
        </section>

        <div class="mt-3 mb-3 d-none"></div>

        <section class="pb pb-5 pt-5 d-none">
            <div class="container">
                <div class="row">
                    <div class="m-auto timetable-item">
                        <div class="p-4">
                            <img style=" object-fit: cover; max-width: 300px;" src="../images/site/billetterie_soldout_label.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="testimonial" class="dark-bg d-flex ptb p-5 pl-3 pr-3 5 background-2020">
            <div class="container m-auto">
                <div class="testimonial text-center pb-lg-4">
                    <span class=" font-billetterie-date">02 02 2020</span><br><span class="font-billetterie-date2">Ouverture de la billetterie à 14h</span>
                </div>
                <div class="testimonial text-center dark-color">
                    <ul class="countdown pt-4" style="color: #e83d44;">
                        <li>
                            <span class="days">00</span>
                            <p class="days_ref">days</p>
                        </li>
                        <li class="seperator">.</li>
                        <li>
                            <span class="hours">00</span>
                            <p class="hours_ref">hours</p>
                        </li>
                        <li class="seperator">:</li>
                        <li>
                            <span class="minutes">00</span>
                            <p class="minutes_ref">minutes</p>
                        </li>
                        <li class="seperator">:</li>
                        <li>
                            <span class="seconds">00</span>
                            <p class="seconds_ref">seconds</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


        <section class="pb d-none">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center" style="font-size: 20px">
                        <p class="soldouttext"><b>Plus aucune place n'était à vendre avant même le début du festival.</b> Aucune vente sur place.<br>
                        <b>Pour les prochaines édition, pensez à prendre vos places tôt afin d'être certain de pouvoir venir.</b><br></p>
                        <p class="soldouttext">La billetterie pour l'édition 2020 ouvrira en Février.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="fond-nuit-back d-none">
            <div class="container text-center pb-5">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h5 class="h4"></h5>
                        <div class="spacer-15"></div>
                        <p class="lead" style="color: greys">Tarifs dernières minutes ce vendredi 10 mai à 20h. Pass 1 soir à 18€.</p>
                        <div class="row">
                            <div class="col-md-6 offset-md-3 jauge-billetterie d-none" style="color: #ff31bc; !important;">
                                <div class="skillbar derniereminute-jauge">
                                    <div class="skillbar-title">Tarif dernière minute</div>
                                    <div class="skill-bar-percent derniereminute-jauge-label">0% ATTEINT</div>
                                    <div class="skillbar-bar skillbar-bar-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row container text-center m-auto">
                <div class="container col-md-12 col-lg-12">
                    <a title="Billetterie Weezevent - 24h de l'INSA" href="https://www.weezevent.com/24hinsa" class="weezevent-widget-integration" target="_blank" data-src="https://www.weezevent.com/widget_billeterie.php?id_evenement=403386&lg_billetterie=1&code=64199&resize=1&width_auto=1&color_primary=0d003d" data-width="650" data-height="600" data-id="403386" data-resize="1" data-width_auto="1" data-noscroll="0" data-nopb="0">Billetterie Weezevent</a>
                    <script type="text/javascript" src="https://www.weezevent.com/js/widget/min/widget.min.js"></script>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-8 col-12 m-auto pb-4 d-none"><img id="imgtarifs" src="/img/site/tarifs_billetterie_05.02_site.jpg"/></div>
                <div class="row text-center d-none">
                    <div class="col-md-8 offset-md-2">
                        <h3 class="h4">&nbsp;</h3>
                        <div class="spacer-15"></div>
                        <p class="lead"></p>
                    </div>
                </div>
            </div>
            <div>

            </div>
            <!--<div class="container text-center pb-5">
                <div class="row text-center">
                    <div class="col-md-8 offset-md-2">
                        <h5 class="h4"></h5>
                        <div class="spacer-15"></div>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>-->
        </section>

        <section class="pb ptb-sm-80 fond-nuit-back d-none">
                <div class="container">

                    <div class="row">
                        <div class="col-md-6 offset-md-3 jauge-billetterie" style="color: #ff31bc; !important;">
                            <div class="text-center"><h4 class="jauge-titre">Jauge billetterie</h4></div>
                            <div class="skillbar deuxs-jauge" data-percent="100%">
                                <div class="skillbar-title">Pass 2 soirs</div>
                                <div class="skill-bar-percent deuxs-jauge-label">100% ATTEINT</div>
                                <div class="skillbar-bar skillbar-bar-1"></div>
                            </div>
                            <div class="skillbar ven-jauge" data-percent="100%">
                                <div class="skillbar-title">Pass Vendredi</div>
                                <div class="skill-bar-percent ven-jauge-label">100% ATTEINT</div>
                                <div class="skillbar-bar skillbar-bar-1"></div>
                            </div>
                            <div class="skillbar sam-jauge" data-percent="100%">
                                <div class="skillbar-title">Pass Samedi</div>
                                <div class="skill-bar-percent sam-jauge-label">100% ATTEINT</div>
                                <div class="skillbar-bar skillbar-bar-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/plugin/jquery.downCount.js" type="text/javascript"></script>
    <script src="../js/theme.js" type="text/javascript"></script>

    <script type="text/javascript">
		$("#menu-billetterie").css('color', '#e83d44');
		$("#title-page-nav").append("Billetterie");
		$("#sidebar-menu-billetterie").css('color', '#e83d44');

		skillsProgressBar();
		function skillsProgressBar() {
			$('.skillbar').each(function () {
				$(this).find('.skillbar-bar').animate({
					width: $(this).attr('data-percent')
				}, 1000);
			});
		};
    </script>
    <script type="text/javascript">
        $('.countdown').downCount({
            date: '02/02/2020 14:00:00',
            offset: +1
        }, function () {
            return;
        });
    </script>

</body>
</html>
