<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>
<!-- Preloader --> <!--

    <!-- End Preloader -->

<!-- Sidebar Menu -->
<%- include sidebar.ejs %>
<!-- End Sidebar Menu -->

<!-- Site Wraper -->
<div class="wrapper">

    <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
    <%- include header.ejs %>
    <!-- End Header -->


    <!-- CONTENT --------------------------------------------------------------------------------->

    <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4 d-none" data-background-img="../img/background/orga-equipe.jpg">
        <div class="container">
            <div class="title">
                <div class="h1-titre">COMMUNIQUE EDITION 2020</div><br>
                <h4 class="">

                </h4>
            </div>
        </div>
    </section>

    <div class="spacer-60"></div>

    <!-- Work Section -->
    <section class="ptb-80">
        <div class="container">
            <h2 class="text-center mb-0">INFORMATIONS COVID-19</h2>
            <p class="lead text-center mb-3">Mis à jour le 16 juin 2020</p>
            <!-- work Filter -->
            <h4 class="">ANNULATION DE L'EDITION 2020</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="spacer-15"></div>
                    </p>
                    <p class="lead text-justify dark-color">
                        Face à la crise sanitaire que le monde entier traverse, les 24 heures de l'INSA 2020 n'ont pu avoir lieu en mai dernier. Nous avions alors étudié toutes les possibilités afin de reporter les festivités à l'automne.
                        Malheureusement, face à une incertitude trop grande quant à la situation actuelle, et pour cause d'importants travaux sur le campus, <b>ce report n'était finalement pas envisageable.</b>
                        <br><br>
                        Nous savons combien la décéption peut être grande pour vous qui attendiez tant cet évènement.
                        Sachez néanmoins que nous avions fait tout notre possible et que cette décision nous a également affectés tout particulièrement.
                        Dans ce secteur durement touché, nous ne pouvions engager l'association à prendre des risques inconsidérés
                        qui auraient pu mettre à mal sa pérénité.
                        <br><br>
                        C'est dans ce contexte que nous donnerons toute notre énergie pour revenir encore plus fort l'année prochaine.
                        Nous vous donnons donc rendez-vous les <b>21, 22 et 23 mai 2021</b> afin de nous retrouver pour une édition, on l'éspère, inoubliable.
                        <br><br><br>
                    </p>
                </div>
            </div>
            <h4 class="">REMBOURSEMENT</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="spacer-15"></div>
                    <p class="lead text-justify dark-color">
                        <b>Les billets achetés pour l'édition 2020 ne sont pas valables pour l'édition 2021.</b>
                        <br><br>
                        Les détenteurs de billets qui en ont fait la demande avant le 15 juin recevront dans les prochains jours, sur leur compte bancaire, le remboursement de leur billet.<br>
                        Si au début du mois de Juillet le remboursement n'apparaît pas sur votre compte en banque, vous pouvez nous contacter à l'adresse <b>billetterie@24heures.org</b>.<br><br>
                        Par ailleurs, nous aimerions remercier tout particulierement les personnes qui ont fait don de leur billet, que ce soit totalement ou partiellement.
                        Aujourd'hui, ces dons permettent à notre association de surmonter la crise afin de revenir aussi fort l'an prochain.
                        Un très grand <b>Merci à vous</b>, ça fait chaud au coeur, et nous tacherons de ne pas vous decevoir !
                        <br><br>
                        <b>Continuez à prendre soin de vous et vos proches. Restons forts, unis et solidaires ! ❤️</b><br>
                    </p>
                </div>
            </div>

            <div class="row pb-4">
                <div class="col-md-12">
                    <div class="spacer-15"></div>
                    <p class="lead text-right">
                        Toute l'équipe de l'association des 24 heures de l'INSA.<br>
                        <img style="width: 60px; height: 60px;" src="img/logos/logo_24h_generique_couleur_sf_200px.png" />
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Work Section -->

    <!-- END CONTENT ---------------------------------------------------------------------------->

    <!-- FOOTER -->
    <%- include footer.ejs %>
    <!-- END FOOTER -->

    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

</div>
<!-- Site Wraper End -->


<!-- JS -->

<script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
<script src="../js/jquery-ui.min.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
<script src="../js/plugin/wow.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
<script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
<script src="../js/plugin/mediaelement-and-player.min.js"></script>
<script src="../js/theme.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#title-page-nav").append("Communiqué");
    $(".bandeau-exceptionnel").addClass("d-none");
</script>
</body>
</html>
