<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

<!-- Preloader --> <!--

    <!-- End Preloader -->

<!-- Sidebar Menu -->
<%- include sidebar.ejs %>
<!-- End Sidebar Menu -->

<!-- Site Wraper -->
<div class="wrapper">

    <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
    <%- include header.ejs %>
    <!-- End Header -->


    <!-- CONTENT --------------------------------------------------------------------------------->

    <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4 d-none" data-background-img="../img/background/orga-equipe.jpg">
        <div class="container">
            <div class="title">
                <div class="h1-titre">COMMUNIQUE EDITION 2020</div><br>
                <h4 class="">

                </h4>
            </div>
        </div>
    </section>

    <div class="mt-3 mb-3"></div>

    <!-- Work Section -->
    <section class="ptb-80">
        <div class="container">
            <h2 class="text-center mb-0">INFORMATIONS COVID-19</h2>
            <p class="lead text-center mb-3">Mis à jour le 17 mars 2020</p>
            <!-- work Filter -->
            <h4 class=""></h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="spacer-15"></div>
                    <p class="lead dark-color d-none">
                        En raison des récentes annonces du gouvernement et du chef de l'Etat face au COVID-19, et <b>suite à la décision du 19 mars 2020 de la préfécture du Rhône,
                            nous avons l'immense regret de vous annoncer que nous ne pouvons maintenir la 46ème édition des 24 heures de l'INSA</b> initialement prévu les 15, 16 et 17 mai 2020.<br><br>
                        Après avoir mis tant d'énergie dans l'organisation du festival depuis près d'un an, après avoir sacrifier tant de temps, après avoir engagé tant d'argent et malgré toutes les solutions envisagées,
                        nous ne pouvons malheureusement éviter ce qui nous arrive, et qui touche tout aussi durement l'ensemble des associations et acteurs du secteur culturel et evenementiel.<br><br>
                        Nous en sommes profondément désolé et les premiers déçus mais la santé de tous doit rester une priorité. Pour les personnes en possession de billets, nous vous tiendrons informés de la suite des étapes.
                    </p>
                    <p class="lead text-justify dark-color">
                        Comme vous le savez, la France et le monde entier traversent une crise sanitaire inédite.<br>
                        Dans ce contexte, et afin d'endiguer la propagation du COVID-19, le gouvernement a mis en place des <a class="color-2020-violet-nuit" href="https://www.gouvernement.fr/info-coronavirus">mesures préventives</a>.<br>
                        <br>
                        Nous restons très attentif à l’évolution de la situation, en étroite collaboration avec les autorités, et <b>nous mobilisons tous nos efforts pour que cette 46ème édition puisse avoir lieu</b>.<br>
                        Vous serez aussitôt avertis de l’évolution de la situation dès lors que nous aurons de nouvelles informations, et cette page sera mise à jour.<br>
                        <br>
                        En attendant, nous adressons tout notre courage à l'ensemble des acteurs de l’événementiel et du secteur de la culture que nous savons fortement impactés par cette crise,
                        mais également à l'ensemble de la population et des secteurs d'activités qui s'en relèverons durement touchés.<br>
                        <br>
                        <b>Prenez soin de vous. Restez chez vous. Soyons forts, unis et solidaires ! ❤️</b><br>
                    </p>
                </div>
            </div>

            <h4 class="pt-5 d-none">REMBOURSEMENTS</h4>
            <div class="row pb-4 d-none">
                <div class="col-md-12">
                    <div class="spacer-15"></div>
                    <p class="lead text-justify">
                        D
                    </p>
                </div>
            </div>

            <div class="row pb-4">
                <div class="col-md-12">
                    <div class="spacer-15"></div>
                    <p class="lead text-right">
                        Toute l'équipe de l'association des 24 heures de l'INSA.<br>
                        <img style="width: 60px; height: 60px;" src="img/logos/logo_24h_generique_couleur_sf_200px.png" />
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-- End Work Section -->

    <!-- END CONTENT ---------------------------------------------------------------------------->

    <!-- FOOTER -->
    <%- include footer.ejs %>
    <!-- END FOOTER -->

    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

</div>
<!-- Site Wraper End -->


<!-- JS -->

<script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
<script src="../js/jquery-ui.min.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
<script src="../js/plugin/wow.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
<script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
<script src="../js/plugin/mediaelement-and-player.min.js"></script>
<script src="../js/theme.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#title-page-nav").append("Communiqué");
    $(".bandeau-exceptionnel").addClass("d-none");
</script>

</body>
</html>
