<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>
<!-- Preloader --> <!--

    <!-- End Preloader -->

<!-- Sidebar Menu -->
<%- include sidebar.ejs %>
<!-- End Sidebar Menu -->

<!-- Site Wraper -->
<div class="wrapper">

    <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
    <%- include header.ejs %>
    <!-- End Header -->


    <!-- CONTENT --------------------------------------------------------------------------------->

    <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4 d-none" data-background-img="../img/background/orga-equipe.jpg">
        <div class="container">
            <div class="title">
                <div class="h1-titre">COMMUNIQUE EDITION 2020</div><br>
                <h4 class="">

                </h4>
            </div>
        </div>
    </section>

    <div class="spacer-60"></div>

    <!-- Work Section -->
    <section class="ptb-80">
        <div class="container">
            <h2 class="text-center mb-0">INFORMATIONS COVID-19</h2>
            <p class="lead text-center mb-3">Mis à jour le 14 avril 2020</p>
            <!-- work Filter -->
            <h4 class="">ANNULATION DE L'EDITION DE MAI 2020</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="spacer-15"></div>
                    </p>
                    <p class="lead text-justify dark-color">
                        Comme vous le savez, la France et le monde entier traversent une crise sanitaire inédite.<br>
                        Avec toute l’équipe de bénévoles des 24h, nous adressons tout d’abord toutes nos pensées aux victimes et leurs proches, mais aussi tout notre soutien aux personnels soignants, et à tous ceux en première ligne pour lutter contre le virus. Merci à eux !<br>
                        <br>
                        Face au contexte actuel et les mesures gouvernementales prises pour lutter contre le COVID-19, <b>la 46ème édition des 24h de l’INSA ne pourra pas avoir lieu aux dates initiales du 15, 16 et 17 mai</b>.
                        Nous travaillons actuellement d’arrache-pied afin de pouvoir trouver une alternative et essayer de reporter les concerts et les animations de cette 46ème édition à l'automne 2020.<br>
                        <br>
                        En attendant, nous adressons tout notre courage à l'ensemble des acteurs de l’événementiel et du secteur de la culture que nous savons fortement impactés par cette crise,
                        mais également à l'ensemble de la population et des secteurs d'activités qui s'en relèverons durement touchés.<br>
                    </p>
                </div>
            </div>

            <h4 class="pt-5">REMBOURSEMENTS</h4>
            <div class="row pb-4">
                <div class="col-md-12">
                    <div class="spacer-15"></div>
                    <p class="lead text-justify dark-color">
                        En ce qui concerne les modalités de remboursement et les demarches à suivre, nous communiquerons plus en détails à partir du 15 mai prochain. Tous les détenteurs de billet recevront un mail détaillé.
                        Afin de nous permettre de nous organiser au mieux durant ce laps de temps, <b>aucun remboursement ni demande de remboursement ne sera traité avant cette date.
                            En attente d’informations complémentaires, la billetterie est également fermée</b>.<br>
                        <br>
                        Nous vous remercions par avance de votre patience et votre soutien face à ce contexte si particulier.
                        Nous attendions d’avoir le plus d’informations possible pour pouvoir vous informer de manière la plus précise qui soit.
                        <br>
                        <br>
                        <b>Prenez soin de vous. Restez chez vous. Restons forts, unis et solidaires ! ❤️</b><br>
                    </p>
                </div>
            </div>

            <div class="row pb-4">
                <div class="col-md-12">
                    <div class="spacer-15"></div>
                    <p class="lead text-right">
                        Toute l'équipe de l'association des 24 heures de l'INSA.<br>
                        <img style="width: 60px; height: 60px;" src="img/logos/logo_24h_generique_couleur_sf_200px.png" />
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-- End Work Section -->

    <!-- END CONTENT ---------------------------------------------------------------------------->

    <!-- FOOTER -->
    <%- include footer.ejs %>
    <!-- END FOOTER -->

    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

</div>
<!-- Site Wraper End -->


<!-- JS -->

<script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
<script src="../js/jquery-ui.min.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
<script src="../js/plugin/wow.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
<script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
<script src="../js/plugin/mediaelement-and-player.min.js"></script>
<script src="../js/theme.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#title-page-nav").append("Communiqué");
    $(".bandeau-exceptionnel").addClass("d-none");
</script>
</body>
</html>
