<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--

    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->

        <style>
            h1, h2, h3, h4, h5, h6, a:not(.footerlien) {
                color: #eeeeee;
            }
        </style>


        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- About Section -->
        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/concerts-comah.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">ARTISTES</div><br>
                    <h4 class="">
                        <span class="text-original-case">Voici la programmation complète de l'édition 2020 !</span>
                    </h4>
                </div>
            </div>
        </section>
        <!-- End About Section -->

        <!-- Work Section -->

        <%if (true) { %>

        <section class="ptb pt-5 fond-nuit-back">
            <div class="container">
                <!-- work Filter -->
                <div class="row">
                    <ul class="col container-filter categories-filter">
                        <li><a class="categories active" data-filter="*">TOUS</a></li>
                        <li><a class="categories" data-filter=".vendredi">VENDREDI 15 MAI</a></li>
                        <li><a class="categories" data-filter=".samedi">SAMEDI 16 MAI</a></li>
                    </ul>
                </div>
                <!-- End work Filter -->

                <!-- ARTISTES -->
                <div class="row container-masonry nf-col-3">

                    <!-- BAKERMAT -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_bakermat_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">BAKERMAT <span class="d-none" style="font-size:10px;">(LIVE SET & SAXO)</span></p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#bakermat-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">BAKERMAT <span class="d-none" style="font-size:10px;">(LIVE SET & SAXO)</span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Tropical House, Electro</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="bakermat-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">BAKERMAT <span class="d-none" style="font-size:10px;">(LIVE SET & SAXO)</span></h4>
                                    <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">SAMEDI - Grande Scène</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Tropical House, Electro</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/iaGjz4dtr3o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">
                                        Après le succès incontestable de son single « One Day (Vandaag) » en 2013, le DJ
                                        et producteur Néerlandais revient en force avec son titre « Living » synchronisé sur
                                        une publicité Suzuki puis le single « Baby » au sonorités profondément rétro.
                                        Aujourd’hui c’est avec le single « Don’t want you back » qui empreinte la voix de
                                        Kiesza que l’artiste s’impose une nouvelle fois comme une référence de la house.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 47TER -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_47ter_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">47TER</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#47ter-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">47TER</h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Rap</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="47ter-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">47TER</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">VENDREDI - Grande Scène</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Rap</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/nPwGvjd2zOU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            Être authentique. L’obsession classique de tout rappeur qui se respecte. Mais
                                            l’authenticité, ce n’est pas forcément un CV de criminel patenté ou un C.A.P de
                                            bad boy. Prenez 47 Ter par exemple : impossible de faire plus vrai que ce trio
                                            composé de Pierre Paul, Miguel et Blaise.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- KLINGANDE -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_klingande_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">KLINGANDE <span class="d-none" style="font-size:10px;">(DJ SET)</span></p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#klingande-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">KLINGANDE <span class="d-none" style="font-size:10px;">(DJ SET)</span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Tropical House, Electro</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="klingande-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">KLINGANDE <span class="d-none" style="font-size:10px;">(DJ SET)</span></h4>
                                    <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">VENDREDI - Grande Scène</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Tropical House, Electro</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/b6vSf0cA9qY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">
                                        Le jeune DJ et producteur Français KLINGANDE sort son tant attendu premier double album, sobrement intitulé
                                        The Album. Ce dernier comptera notamment le tout nouveau single de KLINGANDE «  By The River  », en
                                        featuring avec le musicien blues Jamie N Commons. Porté par une basse dynamique et des accords de piano
                                        délicats, le morceau « By The River » sublime particulièrement la sentimentale voix de Jamie N Commons ainsi
                                        que le son si particulier de KLINGANDE.
                                    🔊</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- JAHNERATION -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_jahneration_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">JAHNERATION</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#jan-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">JAHNERATION</h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Reggae, Dub</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="jan-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">JAHNERATION</h4>
                                    <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">SAMEDI - Grande Scène</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Reggae, Dub</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/7kR7HeQ67Ws" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">
                                        Entre new roots et sons californiens, Jahneration a créé un new reggae branché sur ses
                                        racines rock et hip hop. Une musique généreuse et festive qu’ils ont peaufinée lors de plus de
                                        250 concerts de petites salles en grands festivals, et qui a déjà engrangée 33 millions de vues
                                        sur YouTube. Après Jahneration (2016) premier album remarqué, ils sortent
                                        aujourd’hui Stuck In The Middle gorgé de sons organiques, d’instrumentaux imparables et de
                                        collaborations cinq étoiles. Un album thérapeutique à tester d’urgence !
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- LPF -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_lpf_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">LA P'TITE FUMEE</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#lpf-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">LA P'TITE FUMEE<span class="d-none" style="font-size:10px;"> (Live)</span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Natural Trance</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="lpf-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">LA P'TITE FUMEE</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">SAMEDI - Grande Scène</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Natural Trance</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/sc3ykbPLi-A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            La P’tite Fumée distille une musique actuelle énergique aux accents tribaux,
                                            entre world music, techno et trance instrumentale. En quelques années, le
                                            groupe est devenu l'un des phénomènes incontournables de la scène live française.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- LOGE 21 -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_loge21_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">LOGE 21<span class="" style="font-size:10px;"> (DJ SET)</span></p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#loge-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">LOGE 21<span class="" style="font-size:10px;"> (DJ SET)</span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Bass House</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="loge-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">LOGE 21<span class="" style="font-size:10px;"> (DJ SET)</h4>
                                    <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">VENDREDI - Grande Scène</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Bass House</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/_IZ9gIuThPo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">
                                        Formé en 2015, Loge21 se place dans cette nouvelle génération d’artistes qui
                                        révolutionnent le monde de la musique électronique. Grâce à leur style mélangeant Future
                                        House et Bass Music, ils se font rapidement repérer par les plus grands du milieu tels que
                                        DJ Snake, Skrillex, Zeds Dead, Tchami et bien d'autres.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- LEFA -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_lefa_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">LEFA</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#lefa-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">LEFA</h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Scène Nord</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Rap</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="lefa-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">LEFA</h4>
                                    <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">VENDREDI - Scène Nord</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Rap</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/mnUWGtCokbc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">
                                        LEFA est de retour sur le devant de la scène avec un quatrième album abouti et ambitieux. Ponctué
                                        de plusieurs feats dont VALD, CABALLERO & JEANJASS ou encore DOSSEH, ‘FAME’ s’impose comme
                                        un disque audacieux, écrit et réfléchi, qui puise sa substance dans l'histoire du rap si chère à l’artiste.
                                        Reconnu pour ses performances enflammées, la force de ses lyrics, la puissance et la technique de
                                        ses flows prennent une autre dimension en LIVE. LEFA présentera ce nouvel album et ses plus grands
                                        succès sur scène !
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- WAXX -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_waxx_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">WAXX</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#waxx-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">WAXX</h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Scène Nord</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Rock</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="waxx-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">WAXX</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">SAMEDI - Scène Nord</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Rock</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/7kR7HeQ67Ws" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            Benjamin Hekimian aka « Waxx » est de ceux qui ont plusieurs cordes à leur arc : musicien et
                                            producteur entre autres, il exerce autant dans le genre métal que dans le rap et la pop. Après avoir participé à la production d’albums de nombreux artistes comme Ben l’Oncle Soul, LEJ,
                                            Pomme ou encore Georgio, c’est avec « Le Comité des reprises », en collaboration avec PV NOVA et
                                            diffusé sur Canal +, que Waxx se fait connaître du grand public. Il cumule alors des dizaines de
                                            millions de vues sur sa chaîne Youtube et attire l’attention d’artistes de renommée mondiale comme
                                            Linkin Park ou Jared Leto par exemple avec qui, il collabore sur scène. Aujourd’hui, Waxx sort son premier album. Un album teinté de grunge, de trap, entre Nirvana et Post
                                            Malone, une croisée des genres vintage et moderne résolument singulière.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- BILLET D'HUMEUR -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_billet_dhumeur_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">BILLET D'HUMEUR</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#bdh-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">BILLET D'HUMEUR<span class="d-none" style="font-size:10px;"> (Live)</span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Scène Nord</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Pop française, Electro</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="bdh-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">BILLET D'HUMEUR</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">VENDREDI - Scène Nord</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Pop française, Electro</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/9yoPS1-i6u4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            3 chanteurs, 1 DJ électro... un quatuor "ovni" issu du métro parisien.
                                            Le "fond" du groupe, dans toute sa diversité - filigrane tribal, culture rock et soul, volonté pop - s'est mêlé dans le creuset des live.
                                            Influencés par Stromae, Saïan Supa Crew et Michael Jackson, le groupe Billet d'Humeur danse et chante l'amour à sens unique, le rejet, le racisme, la violence dans le couple,
                                            la maladie... avec une énergie habitée sur des mélodies basées sur la voix et le beatbox. "Hollywood",
                                            le premier album entièrement écrit et composé par les 4 membres de BILLET D'HUMEUR est disponible sur toutes les plateformes de téléchargement légales depuis octobre 2018.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- DARWELLS -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_2020_darwells_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">DARWELLS</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#darwells-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">DARWELLS<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Rock</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="darwells-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title text-center color-2020-rouge-nuit" style="padding-left:13px;">DARWELLS</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-violet-nuit">SAMEDI - Grande Scène</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-violet-nuit">Rock</h6>
                                        <iframe class="modal-artiste-video d-none" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/4cyOz8qfs8I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            DARWELLS est un projet musical monté par 4 amis composant dans un style plutôt rock. La moitié d’entre eux étant à l’INSA de Lyon,
                                            les premières répétitions eurent lieux à côté du campus.
                                            Ils répètent désormais activement dans leur propre studio dans lequel ils enregistrent leur premier EP démo.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- SPINNN -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_2020_spinn_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">SPINN</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#spinn-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">SPINN<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Jangly dream pop</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="spinn-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title text-center color-2020-rouge-nuit" style="padding-left:13px;">SPINN</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-violet-nuit">VENDREDI - Grande Scène</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-violet-nuit">Jangly dream pop</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/2D_GEo5wLqs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            4 mecs de Liverpool, leurs guitares et leur chanteur charismatique écrivent des chansons pour faire danser les adolescents. Un concept qui ne semble pas nouveau,
                                            mais SPINN nous offrent leur version du style indie pop. Avec leur nouvel album éponyme, SPINN nous fait découvrir leur univers, qu'il ne faut pas rater.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- MESSIRE -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_messire_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">MESSIRE</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#messire-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">MESSIRE<span class="d-none" style="font-size:10px;"> (Live)</span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Scène Nord</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Electroethnic</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="messire-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">MESSIRE</h4>
                                    <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">SAMEDI - Scène Nord</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Electroethnic</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/NSXear__BHY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">
                                        Equipé d'un panel d'instruments variés (synthétiseurs, pads, percussions...), l'artiste
                                        dévoile sur scène une performance de Live Looping automatisée et invite son auditoire à
                                        le suivre dans une fresque électronique à l'énergie croissante à laquelle il incorpore des
                                        samples de musiques traditionnelles du monde. Sa musique, entre downtempo, electro
                                        ethnique et techno tribale peut s'apparenter à celle d'artistes comme Flume, Thylacine,
                                        Fakear ou encore Bonobo.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CARACAS DUB -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_2020_caracas_dub_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">CARACAS DUB</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#caracas-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">CARACAS DUB<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Scène Roots</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Dub</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="caracas-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title text-center color-2020-rouge-nuit" style="padding-left:13px;">CARACAS DUB</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-violet-nuit">SAMEDI - Scène Roots</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-violet-nuit">Dub</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/2AEEe_jz0wU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            Caracas Dub est un producteur de dub indépendant né et élevé à Caracas, au Venezuela.
                                            La diversité des sons que composent sa musique retracent ses origines, avant son départ pour la France en 2009. Il est encore basé et heureux de l'être, à Lyon.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- ARCHE -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_2020_arche_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">ARCHE</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#caracas-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">ARCHE<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Pop Psychédélique</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="caracas-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title text-center color-2020-rouge-nuit" style="padding-left:13px;">ARCHE</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-violet-nuit">SAMEDI - Grande Scène</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-violet-nuit">Pop Psychédélique</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/C8KwCtMG9l4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            Ces kiddos qui semblent sortis tout droit des
                                            nineties, construisent leur refuge à travers une
                                            esthétique décalée et toujours rêveuse. Arche
                                            nous entraîne dans un périple où règnent friperies,
                                            objets vintages et innocence parfois insolente.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- KALKI -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_2020_kalki_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">KALKI</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#kalki-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">KALKI<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Scène Roots</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Progressive Trance</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="kalki-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center color-2020-rouge-nuit" style="padding-left:13px;">KALKI</h4>
                                    <h6 class="letter-spacing-1 text-center m-0 color-2020-violet-nuit">VENDREDI - Scène Roots</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-violet-nuit">Progressive Trance</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/_6B9tBRFEeE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">
                                        Kalki est le projet progressive psytrance de Thibault Fontaine, un producteur de musique électronique basé à Lyon.
                                        Kalki émerge dans la scène trance depuis début 2016, avec la sortie de son
                                        1er EP Varanasi, illustré par un clip vidéo tourné en Inde par Basile Pierrat. Le succès de cette sortie lui a permis de rencontrer et
                                        d’avoir le soutien d’artistes comme Maitika et Oddwave. Il a rejoint le label Techsafari
                                        Records, son entrée dans cette famille assure l’arrivée prochaine de plusieurs EPs.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MY FLY DJ -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_2020_mcfly_dj_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">MC FLY DJ</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#mcfly-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">MC FLY DJ<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Scène Roots</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Drum n Bass</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="mcfly-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center color-2020-rouge-nuit" style="padding-left:13px;">MC FLY DJ</h4>
                                    <h6 class="letter-spacing-1 text-center m-0 color-2020-violet-nuit">VENDREDI - Scène Roots</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-violet-nuit">Drum n Bass</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/756137008&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">
                                        Partageant la scène avec les plus grands du monde de la Drum and Bass (Ed
                                        Rush, Audio, Dimensions, Telekinesis, Joe Ford, Phace...), Mc Fly Dj est devenu une
                                        figure incontournable de la scène D&B Française.
                                        Il a entre autres mixé dans le plus gros festival du genre : le mythique Let It Roll
                                        (CZ), et a récemment été plébiscité par Dj A.M.C. lui-même après un co-plateau au
                                        Ninkasi Kao (Lyon).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- VULGAR GROOVES -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_2020_vulgar_grooves_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">VULGAR GROOVES</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#vulgar-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">VULGAR GROOVES<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Scène Roots</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Dub</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="vulgar-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title text-center color-2020-rouge-nuit" style="padding-left:13px;">VULGAR GROOVES</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-violet-nuit">SAMEDI - Scène Roots</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-violet-nuit">Dub</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/FKwep4MxMmM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            Originaire de Bretagne, musicien et producteur depuis des lunes, Vulgar Grooves innove en alliant
                                            solides structures dub, sonorités techno et atmosphères psychédéliques.
                                            En novembre 2019, l’artiste dévoile sa première sortie à travers l’album “Lanterns” sorti sur le label
                                            ODG Prod. Avec ce LP, il marque son arrivée dans la musique électronique au sens large. On
                                            évoque aujourd’hui son empreinte musicale en parlant de Bass Music & Dub Violence.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- EUSTACHE MCQUEEN -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_2020_eustache_mcqueer_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">EUSTACHE MCQUEER</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#eustache-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">EUSTACHE MCQUEER<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Scène Nord</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Electro Pop</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="eustache-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body jjj">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title text-center color-2020-rouge-nuit" style="padding-left:13px;">EUSTACHE MCQUEER</h4>
                                            <h6 class="letter-spacing-1 text-center m-0 color-2020-violet-nuit">SAMEDI - Scène Nord</h6>
                                            <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-violet-nuit">Electro Pop</h6>
                                            <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/LsadxtpKO1M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                            <p class="text-justify m-0">
                                                Après s’être rencontrés à l’issue d’une collision sur Mars, Eustache et Virilio sont de
                                                retour d’un voyage intergalactique. Une fois sur Terre, Virilio commence à se poser
                                                beaucoup de questions sur les moeurs terriennes. Alors que sur Mars l’atmosphère
                                                est trop hostile pour un quelconque échange de fluides, la sexualité est au coeur des
                                                préoccupations sur la planète bleue.<br>
                                                Eustache &amp; Virilio marient à merveille le sexy et le trash, le sauvage et le fluo.
                                                C&#39;est en chevauchant synthés old school et basses veloutées qu&#39;ils font un show qui
                                                envoie des paillettes plein les mirettes.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    <!-- MOUNTAIN MOUNTAIN -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_2020_mountain_mountain_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">MOUNTAIN MOUNTAIN</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#mountain-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">MOUNTAIN MOUNTAIN<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Indie Pop</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="mountain-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title text-center color-2020-rouge-nuit" style="padding-left:13px;">MOUNTAIN MOUNTAIN</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-violet-nuit">Vendredi - Grande Scène</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-violet-nuit">Indie Pop</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/s1cLs-Mh0W4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            Après un premier EP “Open and See” sorti chez Echo Orange en 2016, la direction musicale  arty du duo se précise, avec la sortie de plusieurs singles aux palettes musicales percutantes,
                                            présents sur le premier album “Aerial” qui sortira fin mars 2020.<br>
                                            Leur dream pop soignée fait voyager à travers les années et les atmosphères. Multi-instrumentistes, c’est entouré de Paul Renard (Abschaum),
                                            Hugo Le Scelliour (Wugo) et Jean David Mimouni (HangOyster) que MOUNTAIN MOUNTAIN défend son univers et ses horizons, un récit apaisant et onirique de l’album.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- THE ACKEE SALTFISH -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_the_ackee_saltfish_2_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">THE ACKEE SALTFISH</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#tas-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">THE ACKEE SALTFISH<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Scène Roots</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Reggae Bass</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="tas-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center color-2020-rouge-nuit" style="padding-left:13px;">THE ACKEE SALTFISH</h4>
                                    <h6 class="letter-spacing-1 text-center m-0 color-2020-violet-nuit">VENDREDI - Scène Roots</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-violet-nuit">Reggae Bass</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/4cyOz8qfs8I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Présents depuis de nombreuses années sur le festival des 24h de l’INSA, le duo composé de Selecta Rhome et de Selector Abal vous fera skanker sur de la tropical bass
                                        aux sonorités jamaïcaines !<br>
                                        Retrouvez The Ackee saltfish le vendredi sur la scène Root's</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- KLS -->
                    <div class="nf-item vendredi samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_2020_kls_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">KLS</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#kls-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">KLS<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI / SAMEDI</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Collectif DJ multistyle</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="kls-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title text-center color-2020-rouge-nuit" style="padding-left:13px;">KLS</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-violet-nuit">VENDREDI / SAMEDI</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-violet-nuit">Collectif DJ multistyle</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>

            </div>
        </section>

        <% }%>

        <!-- End Work Section -->

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script>
		$(".btn-plus-info").click(function(){
			setTimeout(function(){
				$(".jjj").each(function(i){
					var w = $(this).width();
					if (w > 0) {
						$(".modal-artiste-video").height(w*315/560);
						return false;
                    }
				});
			}, 1000);
		});
		$(window).resize(function() {
			$(".jjj").each(function(i){
				var w = $(this).width();
				if (w > 0) {
					$(".modal-artiste-video").height(w*315/560);
					return false;
				}
			});
		});

		$("#menu-concerts").css('color', '#e83e43');
        $("#sidebar-menu-artistes").css('color', '#e83e43');
    </script>
    <script type="text/javascript">
		$("#title-page-nav").append("Artistes");
    </script>
    
</body>
</html>
