<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--

    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->

        <style>
            h1, h2, h3, h4, h5, h6, a {
                color: #aaaaaa;
            }
        </style>


        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- About Section -->
        <section id="about" class="pt pt-sm-60 fond-nuit-back">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <div class="col-md-8 offset-md-2"></div>
                        <h2 class="m-0">
                            <span class="color-concerts">Artistes</span><br />
                        </h2>
                        <h4>
                            <span class="text-original-case">Retrouvez la programmation de l'édition 2019</span>
                        </h4>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section -->

        <!-- Work Section -->

        <%if (true) { %>

        <section class="ptb pt-5 fond-nuit-back">
            <div class="container">
                <!-- work Filter -->
                <div class="row">
                    <ul class="col container-filter categories-filter">
                        <li><a class="categories active" data-filter="*">TOUS</a></li>
                        <li><a class="categories" data-filter=".vendredi">VENDREDI 17 MAI</a></li>
                        <li><a class="categories" data-filter=".samedi">SAMEDI 18 MAI</a></li>
                    </ul>
                </div>
                <!-- End work Filter -->

                <!-- ARTISTES -->
                <div class="row container-masonry nf-col-3">

                    <!-- FEDER -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_feder_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">FEDER <span style="font-size:10px;">(DJ SET)</span></p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#feder-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">FEDER <span style="font-size:10px;">(DJ SET)</span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Electro</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="feder-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">FEDER <span style="font-size:10px;">(DJ SET)</span></h4>
                                    <h6 class="letter-spacing-1 text-center m-0">VENDREDI - Grande Scène</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Electro</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/RvK8SKZbBWg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MOME -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_mome_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">MØME</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#mome-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">MØME<span class="d-none" style="font-size:10px;"> (Live)</span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Electro</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="mome-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">MØME</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI - Grande Scène</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Electro</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/1YRW1QRKTBc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Depuis son premier passage en 2015 aux 24 heures de l'INSA, Møme a bien grandi. Après le succès de Aloha suivi de son album Panorama composé lors d'un road trip,
                                        il revient pour nous faire voyager avec un tout nouvel album qui sortira courant 2019. Après une tournée mondiale, le compositeur niçois continuera de nous faire rêver avec un live captivant 🎶<br>
                                        Møme nous donne rendez-vous le Samedi 18 et pourrait nous réserver quelques surprises 👀<br>
                                        Son dernier titre en date : <a target="_blank" href="https://youtu.be/mI3z9BNXcEE">Sail Away</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- JAZZY BAZZ -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_jazzy_bazz_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">JAZZY BAZZ</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#jb-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">JAZZY BAZZ<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Rap</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="jb-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">JAZZY BAZZ</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI - Grande Scène</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Rap</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/bxtJcFa2FaU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Que ce soit avec Cool Connexion, Grande Ville Records et bien évidement le collectif <a target="_blank" href="https://www.facebook.com/lentourageposse/?__tn__=K-R&eid=ARD2z-JGhrQOnN1qaR3u-HpxwajG4lp6ckmt0DjcrABM07o12-JC8DHfz8ulN1wnE_UG5ondOQlFQiXQ&fref=mentions&__xts__%5B0%5D=68.ARAVhM7__O4A7K_F7qc6z3AF38ydNiIP9U1e7Pj0jOdZX3IH1gR988dmCpi_ILqpz-WRvqNV8g4oaMzMwve9S71weeLkXR_SC9cUe9iwqj6gCePtJkAY2wz6evi0Q0TIcpe6wHuhSSINgnGgjTKi46-CcbH58oN1yJGJ6lewAImaFpGDy_dwhUM2frH9NFWdRDIFw1vzUCrPSZNQUxvFjCwgUQK41Ohn3kqlJCQ8PonAK_pDNB281wwIiELw7QD4sFhuplZC3aXMkpaSPichcrZCYchVlbPhvHgtKTRslX4arKtXPv4JA_dTxHwhiAhttps://www.facebook.com/lentourageposse/?__tn__=K-R&eid=ARD2z-JGhrQOnN1qaR3u-HpxwajG4lp6ckmt0DjcrABM07o12-JC8DHfz8ulN1wnE_UG5ondOQlFQiXQ&fref=mentions&__xts__%5B0%5D=68.ARAVhM7__O4A7K_F7qc6z3AF38ydNiIP9U1e7Pj0jOdZX3IH1gR988dmCpi_ILqpz-WRvqNV8g4oaMzMwve9S71weeLkXR_SC9cUe9iwqj6gCePtJkAY2wz6evi0Q0TIcpe6wHuhSSINgnGgjTKi46-CcbH58oN1yJGJ6lewAImaFpGDy_dwhUM2frH9NFWdRDIFw1vzUCrPSZNQUxvFjCwgUQK41Ohn3kqlJCQ8PonAK_pDNB281wwIiELw7QD4sFhuplZC3aXMkpaSPichcrZCYchVlbPhvHgtKTRslX4arKtXPv4JA_dTxHwhiA">L'Entourage</a>, Jazzy Bazz est déjà à l'origine de plusieurs dizaines de titres 🎶<br>
                                        Après son album P-Town respirant Paris, le rappeur revient avec un nouvel album retranscrivant la nuit en musique, qu'il nous présentera à l'occasion de son Nuitour accompagné du 3.14 band 🌒<br>

                                        Amateurs de pogos, Jazzy Bazz, c'est samedi 18 mai, grande scène 🙏🌀</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- LA FINE EQUIPE -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_lfe_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">LA FINE éQUIPE</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#lfe-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">LA FINE éQUIPE<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">HIP HOP / SCRATCH / ELECTRO</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="lfe-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">LA FINE éQUIPE</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">VENDREDI - Grande Scène</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">HIP HOP / SCRATCH / ELECTRO</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/3vzT7KMGkdQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- COMAH -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_comah_2_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">COMAH</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#comah-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">COMAH<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Minimal Progressive</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="comah-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">COMAH</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI - Grande Scène</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Minimal Progressive</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/cynjKOdqHkY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Pionnier de la Minimal Progressive, un sous-genre de psy-trance au tempo plus lent, COMAH a su séduire le public avec ce style unique impulsif et énergique.
                                        Après de nombreux festivals et de nombreuses dates à travers le monde, le DJ travaille sur un nouvel EP qui sortira très prochainement !<br>
                                        Préparez-vous à ne pas dormir de la nuit, COMAH clôturera la grande scène le samedi 18 mai 🌀</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- BELLECOUR -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_bellecour_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">BELLECOUR</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#bellecour-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">BELLECOUR<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Electro / Bass House</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="bellecour-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">BELLECOUR</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">VENDREDI - Grande Scène</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Electro / Bass House</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/ZRRPO-lUhEE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Réunis sous l’alias Bellecour​, le duo lyonnais composé de Tony Romera et KEELD s'est totalement intégré dans l’univers de la future house et de la bass house popularisé par Tchami et Malaa.
                                        Que ce soit sous le label SANS MERCI de Tony Romera, Confession Label de Tchami ou Premiere Classe de DJ SNAKE ils sont soutenus par les plus grands noms du milieu 🎧<br>
                                        Après de gros festivals l’an dernier, ils reviennent à la maison pour nous faire découvrir de nouveaux titres et envoyer du lourd comme ils ont l’habitude de faire 🔵🔴</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- TEZ CADEY -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_tez_cadey_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">TEZ CADEY <span style="font-size:10px;"> (DJ SET)</span></p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#tezcadey-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">TEZ CADEY<span style="font-size:10px;"> (DJ SET)</span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Scène Nord</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Electro / Tropical House</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="tezcadey-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">TEZ CADEY <span style="font-size:10px;"> (DJ SET)</span></h4>
                                    <h6 class="letter-spacing-1 text-center m-0">VENDREDI - Scène Nord</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Electro / Tropical House</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/MDt1Ed_Qwlo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">A l’image de son célèbre hit Seve qui s’accorde aussi bien avec l’ambiance électrique d’une soirée en club, qu'avec le calme d’une journée estivale sur la plage ou dans une forêt,
                                        Tez Cadey​ saura nous faire danser sur des sons mêlant chill, pop et tropicale house 🏖<br>
                                        Le jeune musicien parisien a d'ailleurs sorti son premier album il y a quelques mois dont voici <a target="_blank" href="https://youtu.be/c3k3mcAmJwI">un extrait</a> 🎧<br>

                                        Alors, avec l'arrivée des beaux jours, comment ne pas s'évader avec Tez Cadey le vendredi 17 sur la scène nord 🌅</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- RO x KONOBA -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_ro_konoba_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">R.O. x KONOBA</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#rokonoba-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">R.O. <span style="font-size:10px;">x</span> KONOBA<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Scène Nord</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Electro Pop</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="rokonoba-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">R.O. <span style="font-size:10px;">x</span> KONOBA</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI - Scène Nord</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Electro Pop</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/sbKjGKycuyA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Après des projets solo, des salles remplies et des millions d'écoutes, R.O et Konoba réalisent que leur alliance ne pouvait être que bénéfique.
                                        En 2018, ils parcourent le monde pour s’enrichir de rencontres et composer des morceaux alliant la douce voix de Konoba aux mélodies électro et future bass de R.O 🎤🎵<br>
                                        Incarnation de cette nouvelle scène belge prolifique et toujours qualitative, ces deux compositeurs viendront nous surprendre avec un live inédit 🤩<br>

                                        Ne manquez en aucun cas ce live d'une qualité sans pareil le Samedi 18 sur la scène nord 🎶
                                        En voici <a target="_blank" href="https://youtu.be/sbKjGKycuyA">un petit aperçu</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- TETRA X BRAINLESS -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_tetra_x_brainless_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">TETRA HYDRO K <span style="font-size:10px;">MEETS</span> BRAINLESS</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#tetra-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item pt-2" style="line-height: 15px;">TETRA HYDRO K <span style="font-size:10px;">MEETS</span> BRAINLESS<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Scène Roots</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Dub / Jungle</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="tetra-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">TETRA HYDRO K <span style="font-size:10px;">MEETS</span> BRAINLESS</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI - Scène Roots</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Dub / Jungle</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/ZK6vm3RhVOk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- TWO TRAINS LEFT -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_two_trains_left_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">TWO TRAINS LEFT</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#ttl-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">TWO TRAINS LEFT<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Rock / Pop Punk</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="ttl-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">TWO TRAINS LEFT</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI - Grande Scène</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Rock / Pop Punk</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/MMFEZJVeWIQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Quatuor pop punk parisien formé en 2016, Two Trains Left est déjà à l'origine de deux singles et un EP acclamé par les critiques.
                                        Le récent contrat signé avec le label australien Penultimate Records prouve que le groupe n'a pas fini de faire parler de lui !
                                        Ne manquez pas ce show rock pop punk unique le Samedi 18 sur la grande scène des 24
                                        Leur EP <a target="_blank" href="https://spoti.fi/2TDIORO">Sorry & Pathetic</a> est dispo en écoute et téléchargement</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- HOPEX -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_hopex_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">HOPEX</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#hopex-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">HOPEX<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Scène Nord</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Trap / EDM</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="hopex-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">HOPEX</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">VENDREDI - Scène Nord</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Trap / EDM</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/w3O2IGGBT2Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Mis en avant par la célèbre chaîne Trap City, HOPEX collecte déjà plusieurs millions de streams sur Youtube et Spotify.
                                        Alors qu'il en est encore au tout début de sa carrière, le jeune producteur néerlandais enchaîne les titres et viendra nous ambiancer sur les 24 avec de la grosse trap aux sonorités big room 🌇<br>
                                        HOPEX, ça se passe le vendredi 17, sur la scène nord !
                                        On vous laisse <a target="_blank" href="https://youtu.be/L0fJ7g4Azao">ça</a> la en attendant.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- EFFIGIE -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_effigie_NML_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1" style="line-height: 15px;">EFFIGIE<br>(découverte Ninkasi Musik Lab)</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#effigie-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">EFFIGIE<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Scène nord</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Pop / Electro</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="effigie-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px; line-height: 18px;">EFFIGIE<br>(découverte Ninkasi Musik Lab)</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI - Scène Nord</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Pop / Electro</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/XgYWhT0ZA3k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Faisant rimer synthés épiques et voix aux mélodies pop entêtantes, EFFIGIE façonne un ensemble résolument éthéré et captivant.
                                        Ces deux cousins explorent leur musique comme des voyageurs en transit, à la recherche d’un monde pas encore né ou déjà mort.<br>
                                        Plongez dans cet univers rétro futuriste fascinant le Samedi 19 mai sur la scène nord 🌄<br>
                                        Leur tout <a target="_blank" href="https://youtu.be/qrJ8SqYmhi0">dernier titre</a> est dispo en ecouté et téléchargement.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- BEARS TOWERS -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_bears_towers_NML_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1"style="line-height: 15px;">BEAR'S TOWERS <br> (découverte Ninkasi Musik Lab)</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#bt-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">BEAR'S TOWERS<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Folk</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="bt-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px; line-height: 18px;">BEAR'S TOWERS<br>(découverte Ninkasi Musik Lab)</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">VENDREDI - Grande Scène</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Folk</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/bXNsT1XMPpY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Monte sur ses tours, prend de la hauteur, et sent la main de l’ours qui saisit la tienne. C’est sur les cadences de la rythmique, comme un cœur qui bat à la façon pop folk rock, que les BEAR'S TOWERS vous feront voyager ✨<br>
                                        Venez à la rencontre de leur douceur et leurs mélodies le vendredi 17 mai sur la grande scène.<br>
                                        Allez aussi écouter leur tout <a target="_blank" href="https://youtu.be/UAH9u8ERhUc">nouveau titre</a> très envoûtant !</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- HIGH GARDENS -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_high_gardens_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">HIGH GARDENS</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#hg-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">HIGH GARDEN SOUND<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Scène Roots</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Collectif Reggae / Dub</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="hg-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">HIGH GARDEN SOUND</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI - Scène Roots</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Collectif Reggae / Dub</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Bien ancré dans la scène lyonnaise, High Garden Sound, collectif de huit étudiants habituellement en sound system,
                                        viendra mixer sur la scène roots des 24 pour cette 45ème édition. Avec des sélections variées allant du ska, à l'âge d'or du reggae, au rub a dub,
                                        au digital, en passant par le dub méditatif, sans oublier le stepper UK et les dubplates (productions exclusives), il y aura de quoi satisfaire les connaisseurs !</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FUZZCALL -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_fuzzcall_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">FUZZCALL</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#fuzzcall-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">FUZZCALL<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Grande Scène</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Rock</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="fuzzcall-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">FUZZCALL</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">VENDREDI - Grande Scène</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Rock</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/XORUpICfk6c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SLOGAN -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_slogan_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">SLOGAN</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#slogan-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">SLOGAN<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Scène Nord</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Electro Pop</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="slogan-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">SLOGAN</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI - Scène Nord</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Electro Pop</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/EHjuJW4o0_M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- THE ACKEE SALTFISH -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_the_ackee_saltfish_2_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">THE ACKEE SALTFISH</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#tas-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">THE ACKEE SALTFISH<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Scène Roots</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Reggae Bass</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="tas-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">THE ACKEE SALTFISH</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">VENDREDI - Scène Roots</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Reggae Bass</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/4cyOz8qfs8I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Présents depuis de nombreuses années sur le festival des 24h de l’INSA, le duo composé de Selecta Rhome et de Selector Abal vous fera skanker sur de la tropical bass
                                        aux sonorités jamaïcaines !<br>
                                        Retrouvez The Ackee saltfish le vendredi sur la scène Root's</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- LA BOUTURE DUB -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_la_bouture_dub_2_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">LA BOUTURE DUB</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#la-bouture-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">LA BOUTURE DUB<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Scène Roots</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Collectif Reggae / Dub</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="la-bouture-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">LA BOUTURE DUB</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">VENDREDI - Scène Roots</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Collectif Reggae / Dub</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Du trip-hop à la psy-dub en passant par du UK dub, ces deux producteurs hauts-alpins vous proposeront du dub évolutif et sans prétention.
                                        La bouture dub explore ainsi de nombreux terrains tout en gardant une âme bien singulière. En opérant des machines, le duo joue avec des effets en offrant un dub aux sonorités nouvelles 🇧🇴<br>
                                        Rendez-vous devant les subs' de la scène roots le Vendredi 18 mai 🔊</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- KLS -->
                    <div class="nf-item vendredi samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_kls_2_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">KLS CREW</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#kls-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">KLS CREW<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI / SAMEDI</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Collectif DJ multistyle</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="kls-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">KLS CREW</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">VENDREDI / SAMEDI</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Collectif DJ multistyle</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- WAVE UP -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_wave_up_2_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">WAVE UP</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#waveup-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">WAVE UP<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Psy-Trance / Techno</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="waveup-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">WAVE UP</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">VENDREDI</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Psy-Trance / Techno</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Association lyonnaise créée en 2018 ayant pour objectif de promouvoir de nouveaux artistes électro sur Lyon et sa région,
                                        Wave Up nous proposera cette année Hearken pour un set de techno et Recursiv MindZ pour une session psytrance !
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- LEONXLEON -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_leonxleon_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">LEONXLEON</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#leonxleon-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-animations letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">LEONXLEON<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - OPEN AIR</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Synth pop belge / Disco libanaise</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="leonxleon-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">LEONXLEON</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">SAMEDI - OPEN AIR</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Synth pop belge / Disco libanaise</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/rz40LCFgduE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Artiste fraichement signé sur le fameux label <a target="_blank" href="https://www.facebook.com/cracki.records/">Cracki Records</a>, dont son dernier EP "Rokanbo" est loin d'être passé inaperçu. Son style assez novateur, alliant l'ancien et le nouveau,
                                        l'a propulsé en quelques années sur le devant de scène, au plus grand plaisir de nos oreilles.
                                        Sa Disco aux sonorités vintage, très inspirée de la Synth-Pop des années 80, et remise au goût du jour avec des rythmes plus proches de la scène House actuelle,
                                        font de chacune de ses productions des vrais douceurs auditives, capables de vous transporter à chaque écoute. On a hâte de divaguer au son de ses synthés, le Samedi 18 Mai après-midi au soleil !</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MASTER PHIL -->
                    <div class="nf-item spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_master_phil_500px.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">MASTER PHIL</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#masterphil-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-animations letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">MASTER PHIL<span style="font-size:10px;"></span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">DIMANCHE - OPEN AIR</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">House / Italo-disco / Boogie</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="masterphil-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">MASTER PHIL</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">DIMANCHE - OPEN AIR</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">House / Italo-disco / Boogie</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/r7m_1cSThPw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Artiste très éclectique aux multiples influences, fier défendant d'une vibe Oldschool et décalée et proposant à chaque fois des sets ensoleillés,
                                        cheesy à souhait et remplis de pépites dont lui seul a le secret. Fort d'être à la DA de 2 labels (<a target="_blank" href="https://www.facebook.com/plaisirpartagerecords/">Plaisir Partagé</a> et <a target="_blank" href="https://www.facebook.com/AIERecord12/">Edits Du Plaisir</a>),
                                        c'est avec enthousiasme que nous le recevrons le Dimanche 19 Mai, avec comme seuls mots d'ordre, la fête, le soleil, et la bonne humeur. Attention, le port de chemise hawaienne est fortement conseillé.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <% }%>

        <!-- End Work Section -->

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script>
		$(".btn-plus-info").click(function(){
			setTimeout(function(){
				$(".jjj").each(function(i){
					var w = $(this).width();
					if (w > 0) {
						$(".modal-artiste-video").height(w*315/560);
						return false;
                    }
				});
			}, 1000);
		});
		$(window).resize(function() {
			$(".jjj").each(function(i){
				var w = $(this).width();
				if (w > 0) {
					$(".modal-artiste-video").height(w*315/560);
					return false;
				}
			});
		});

		$("#menu-concerts").css('color', '#F11286');
    </script>
    <script type="text/javascript">
		$("#title-page-nav").append("Artistes");
    </script>
    
</body>
</html>
