<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader -->

    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->

        <style>
            h1, h2, h3, h4, h5, h6, a:not(.footerlien) {
                color: #eeeeee;
            }
        </style>


        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- About Section -->
        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/concerts-comah.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">ARTISTES</div><br>
                    <h4 class="">
                        <% now = new Date();
                        disp1  = new Date('2021-05-02T20:00:00')
                        if (now < disp1) {
                        %>
                        <span class="text-original-case">A venir la programmation de l'édition 2021</span>
                        <% } %>

                        <% now = new Date();
                        disp2  = new Date('2021-05-02T20:00:00');
                        nodisp2  = new Date('2021-05-12T20:00:00');
                        if (disp2 < now && now < nodisp2) {
                        %>
                        <span class="text-original-case">Voici la programmation partielle de l'édition 2021</span>
                        <% } %>

                        <% now = new Date();
                        disp3  = new Date('2021-05-12T20:00:00')
                        if (now > disp3) {
                        %>
                        <span class="text-original-case">Voici la programmation de l'édition 2021</span>
                        <% } %>
                    </h4>
                </div>
            </div>
        </section>
        <!-- End About Section -->

        <!-- Work Section -->

        <%if (true) { %>

        <section class="ptb pt-5 fond-nuit-back">

            <div class="container d-none">
                <div class="row">
                    <div class="col-md-12 text-center pb-3">
                        <p>Une grande partie des artistes de l'édition 2020 seront reportés en 2021.<br>
                            La programmation complète devrait être devoilée prochainement.</p>
                    </div>
                </div>
            </div>

            <div class="container">
                <!-- work Filter -->
                <div class="row">
                    <ul class="col container-filter categories-filter">
                        <li><a class="categories active" data-filter="*">TOUS</a></li>
                        <li><a class="categories" data-filter=".vendredi">VENDREDI</a></li>
                        <li><a class="categories" data-filter=".samedi">SAMEDI</a></li>
                    </ul>
                </div>
                <!-- End work Filter -->

                <!-- ARTISTES -->
                <div class="row container-masonry nf-col-3">

                    <% now = new Date();
                        disp4 = new Date('2021-05-02T20:00:00')
                    if (now < disp4) {
                    %>
                        <div>
                            <h2 style="color:#E20917">
                                Programmation à venir, suivez nous sur nos réseaux sociaux pour être les premiers informés !
                            </h2>
                        </div>
                    <% } %>


                    <% now = new Date();
                        disp5 = new Date('2021-05-02T20:00:00')
                    if (now > disp5) {
                    %>
                    <!-- Darwells -->
                    <div class="nf-item vendredi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2021/DARWELLS.png" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">DARWELLS</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#darwells-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">DARWELLS</h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">ROCK</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="darwells-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">DARWELLS</h4>
                                    <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">VENDREDI</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">ROCK</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/Rqw8QpI1l9w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">
                                        Darwells est un projet musical monté par 4 amis composant dans un style plutôt rock. Originaire de l'INSA, ils sortent leur premier EP en 2020.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Wailing Trees -->
                    <div class="nf-item samedi spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2021/WAILING_TREES.png" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">Wailing Trees</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#Wailing_Trees-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">Wailing Trees</h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Reggae</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="Wailing_Trees-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body jjj">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">Wailing Trees</h4>
                                            <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">SAMEDI</h6>
                                            <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Reggae</h6>
                                            <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/vyXaWihJuMs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                            <p class="text-justify m-0">
                                                Wailing Trees c'est 7 musiciens, 7 univers pour un reggae unique distillé avec élégance                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    <% } %>

                    <% now = new Date();
                        disp6 = new Date('2021-05-05T20:00:00')
                    if (now > disp6) {
                    %>





                    <% } %>

                    <% now = new Date();
                        disp7 = new Date('2021-05-09T20:00:00')
                    if (now > disp7) {
                    %>
                        <!-- Billet d'Humeur -->
                        <div class="nf-item samedi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2021/BILLET_D_HUMEUR.png" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">Billet d'Humeur</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#billetDhumeur-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">Billet d'Humeur</h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Pop française, électro</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="billetDhumeur-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">Billet d'Humeur</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">SAMEDI</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Pop française, électro</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/9yoPS1-i6u4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            3 chanteurs, 1 DJ électro... un quatuor "ovni" issu du métro parisien, Billet d'humeur danse et chante avec une énergie habitée sur des mélodies basées sur la voix et le beatbox.                                    </div>
                                </div>
                            </div>
                        </div>





                    <% } %>

                    <% now = new Date();
                        disp8 = new Date('2021-05-12T20:00:00')
                    if (now > disp8) {
                    %>

                        <!-- An'Om -->
                        <div class="nf-item vendredi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2021/AN_OM_x_VAYN.png" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">An'Om x Vayn</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#an_om-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">An'Om x Vayn</h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Rap</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="an_om-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body jjj">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">An'Om x Vayn</h4>
                                            <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">VENDREDI</h6>
                                            <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Rap</h6>
                                            <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/key_vfp10Yw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                            <p class="text-justify m-0">
                                                An'Om et Vayn : univers hybride situé à la croisée du rap, de la chanson et de l’électro, ils s’inscrivent parfaitement dans une nouvelle vague de la pop urbaine française                                    </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Mabreuch -->
                        <div class="nf-item vendredi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2021/MABREUCH.png" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">Mabreuch</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#Mabreuch-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">Mabreuch</h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Jazz</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="Mabreuch-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">Mabreuch</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">VENDREDI</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Jazz</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/nDDAEYpIb8Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            Une énergie inépuisable, des grooves pyromanes, un sens de l’improvisation affuté, toutes ces qualités sont mises au service de mélodies qui vous feront voyager sur une comète afrobeat aux confins des galaxies                                </div>
                            </div>
                        </div>
                        </div>

                    <% } %>

                    <% now = new Date();
                        disp9 = new Date('2021-05-13T20:00:00')
                    if (now > disp9) {
                    %>
                        <!-- Allain34 -->
                        <div class="nf-item samedi vendredi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2021/ALAIN_34.png" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">Alain 34</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#alain34-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">Alain 34</h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - SAMEDI</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Jaune</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="alain34-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">Alain 34</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">VENDREDI - SAMEDI</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Jaune</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/wNch1OqYgIM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            Idole des organisateurs de votre festival préféré depuis plusieurs années, Alain34, le maître de la chanson populaire, sera présent pour votre plus grand bonheur.                                </div>
                            </div>
                        </div>
                        </div>

                    <% } %>

                        <!-- Mountain Mountain -->
                        <div class="nf-item vendredi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2021/MONTAGNE_x2.png" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">Mountain Mountain</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#Mountain_Mountain-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">Mountain Mountain
                                    <% now = new Date();
                                        disp2 = new Date('2021-05-19T10:30:00')
                                    if (now > disp2){
                                    %>
                                        Annulé
                                    <% } %>
                                </h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Indie-pop</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Artiste Ninkasi Musik Lab</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="Mountain_Mountain-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">Mountain Mountain</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">VENDREDI</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Indie-pop</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Artiste Ninkasi Musik Lab</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/s1cLs-Mh0W4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            Leur dream pop soignée fait voyager à travers les années et les atmosphères. MOUNTAIN MOUNTAIN défend son univers et ses horizons, un récit apaisant et onirique de l’album                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Cyrious -->
                        <div class="nf-item samedi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2021/CYRIOUS.png" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">Cyrious</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#Cyrious-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">Cyrious</h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Rap</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Artiste Ninkasi Musik Lab</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="Cyrious-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">Cyrious</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">SAMEDI</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Rap</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Artiste Ninkasi Musik Lab</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/3cAEIcSrJXw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            Rappeur, chanteur aux textes engagés, Cyrious est un jeune artiste originaire de Lyon. Il emprunte à plusieurs styles musicaux pour créer son propre univers, hybride.                                </div>
                                </div>
                            </div>
                        </div>

                        <!-- Arche -->
                        <div class="nf-item samedi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2021/ARCHE.png" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">Arche</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#Arche-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">Arche</h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Rock</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Artiste Ninkasi Musik Lab</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="Arche-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">Arche</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">SAMEDI</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Rock</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Artiste Ninkasi Musik Lab</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/C8KwCtMG9l4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                            Ces kiddos qui semblent sortis tout droit des nineties, construisent leur refuge à travers une esthétique décalée et toujours rêveuse. Arche nous entraîne dans un périple où règnent friperies, objets vintages et innocence parfois insolente.                                </div>
                                </div>
                            </div>
                        </div>

                </div>


            </div>
        </section>

        <% }%>

        <!-- End Work Section -->

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script>
		$(".btn-plus-info").click(function(){
			setTimeout(function(){
				$(".jjj").each(function(i){
					var w = $(this).width();
					if (w > 0) {
						$(".modal-artiste-video").height(w*315/560);
						return false;
                    }
				});
			}, 1000);
		});
		$(window).resize(function() {
			$(".jjj").each(function(i){
				var w = $(this).width();
				if (w > 0) {
					$(".modal-artiste-video").height(w*315/560);
					return false;
				}
			});
		});

		$("#menu-concerts").css('color', '#E20917');
        $("#sidebar-menu-artistes").css('color', '#E20917');
    </script>
    <script type="text/javascript">
		$("#title-page-nav").append("Artistes");
    </script>
    
</body>
</html>
