<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--

    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->

        <style>
            h1, h2, h3, h4, h5, h6, a:not(.footerlien) {
                color: #eeeeee;
            }
        </style>


        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- About Section -->
        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/concerts-comah.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">ARTISTES</div><br>
                    <h4 class="">
                        <span class="text-original-case">En attendant, retrouvez quelques artistes des 4 précédentes éditions</span>
                    </h4>
                </div>
            </div>
        </section>
        <!-- End About Section -->

        <!-- Work Section -->

        <%if (true) { %>

        <section class="ptb pt-5 fond-nuit-back">
            <div class="container">
                <!-- work Filter -->
                <div class="row">
                    <ul class="col container-filter categories-filter">
                        <li><a class="categories active" data-filter="*">TOUS</a></li>
                        <li><a class="categories" data-filter=".vendredi">VENDREDI 15 MAI</a></li>
                        <li><a class="categories" data-filter=".samedi">SAMEDI 16 MAI</a></li>
                    </ul>
                </div>
                <!-- End work Filter -->

                <!-- ARTISTES -->
                <div class="row container-masonry nf-col-3">

                    <!-- DEVOILEMENT 1 -->
                    <%if (true) { %>
                        <!-- KLINGANDE -->
                        <div class="nf-item vendredi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_klingande_500px.jpg" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">KLINGANDE <span class="d-none" style="font-size:10px;">(DJ SET)</span></p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#klingande-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">KLINGANDE <span class="d-none" style="font-size:10px;">(DJ SET)</span></h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Grande Scène</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Tropical House, Electro</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="klingande-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">KLINGANDE <span class="d-none" style="font-size:10px;">(DJ SET)</span></h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">VENDREDI - Grande Scène</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Tropical House, Electro</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/b6vSf0cA9qY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0 d-none">
                                        🔊</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 47TER -->
                        <div class="nf-item vendredi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_47ter_500px.jpg" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">47TER</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#47ter-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">47TER</h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Grande Scène</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Rap</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="47ter-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">47TER</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">VENDREDI - Grande Scène</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Rap</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/nPwGvjd2zOU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- LPF -->
                        <div class="nf-item samedi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_lpf_500px.jpg" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">LA P'TITE FUMEE</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#lpf-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">LA P'TITE FUMEE<span class="d-none" style="font-size:10px;"> (Live)</span></h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Grande Scène</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Natural Trance</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="lpf-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">LA P'TITE FUMEE</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">SAMEDI - Grande Scène</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Natural Trance</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/sc3ykbPLi-A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>

                    <!-- DEVOILEMENT 2 -->
                    <%if (false) { %>
                        <!-- BAKERMAT -->
                        <div class="nf-item samedi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_bakermat_500px.jpg" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">BAKERMAT <span class="" style="font-size:10px;">(LIVE SET & SAXO)</span></p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#bakermat-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">BAKERMAT <span class="" style="font-size:10px;">(LIVE SET & SAXO)</span></h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Grande Scène</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Tropical House, Electro</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="bakermat-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">BAKERMAT <span class="d-none" style="font-size:10px;">(LIVE SET & SAXO)</span></h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">SAMEDI - Grande Scène</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Tropical House, Electro</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/iaGjz4dtr3o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0 d-none">
                                            🔊</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- JAHNERATION -->
                        <div class="nf-item samedi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_jahneration_500px.jpg" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">JAHNERATION</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#47ter-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">JAHNERATION</h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Grande Scène</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Reggae, Dub</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="47ter-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">JAHNERATION</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">SAMEDI - Grande Scène</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Reggae, Dub</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/7kR7HeQ67Ws" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- LOGE 21 -->
                        <div class="nf-item vendredi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_loge21_500px.jpg" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">LOGE 21</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#loge-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">LOGE 21<span class="d-none" style="font-size:10px;"> (Live)</span></h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Grande Scène</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Bass House</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="loge-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">LOGE 21</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">VENDREDI - Grande Scène</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Bass House</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/_IZ9gIuThPo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>

                    <!-- DEVOILEMENT 3 -->
                    <%if (false) { %>
                        <!-- LEFA -->
                        <div class="nf-item vendredi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_lefa_500px.jpg" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">LEFA</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#lefa-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">LEFA</h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Scène Nord</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Rap</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="lefa-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">LEFA</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">VENDREDI - Scène Nord</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Rap</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/mnUWGtCokbc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0 d-none">
                                            🔊</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- WAXX -->
                        <div class="nf-item samedi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_waxx_500px.jpg" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">WAXX</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#waxx-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">WAXX</h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Scène Nord</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Rock</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="waxx-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">WAXX</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">SAMEDI - Scène Nord</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Rock</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/7kR7HeQ67Ws" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- BILLET D'HUMEUR -->
                        <div class="nf-item vendredi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_billet_dhumeur_500px.jpg" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">BILLET D'HUMEUR</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#bdh-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">BILLET D'HUMEUR<span class="d-none" style="font-size:10px;"> (Live)</span></h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Scène Nord</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Pop, Electro</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="bdh-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">BILLET D'HUMEUR</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">VENDREDI - Scène Nord</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Pop, Electro</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/9yoPS1-i6u4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- MESSIRE -->
                        <div class="nf-item samedi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition_2020/artiste_photo_messire_500px.jpg" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">MESSIRE</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#messire-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-2020-rouge-nuit letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">MESSIRE<span class="d-none" style="font-size:10px;"> (Live)</span></h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">SAMEDI - Scène Nord</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Electroethnic</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="messire-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title color-2020-rouge-nuit text-center" style="padding-left:13px;">MESSIRE</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-fond-nuit">SAMEDI - Scène Nord</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-fond-nuit">Electroethnic</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/NSXear__BHY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- THE ACKEE SALTFISH -->
                        <div class="nf-item vendredi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_the_ackee_saltfish_2_500px.jpg" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">THE ACKEE SALTFISH</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#tas-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">THE ACKEE SALTFISH<span style="font-size:10px;"></span></h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI - Scène Roots</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Reggae Bass</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="tas-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title text-center color-2020-rouge-nuit" style="padding-left:13px;">THE ACKEE SALTFISH</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-violet-nuit">VENDREDI - Scène Roots</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-violet-nuit">Reggae Bass</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/4cyOz8qfs8I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0">Présents depuis de nombreuses années sur le festival des 24h de l’INSA, le duo composé de Selecta Rhome et de Selector Abal vous fera skanker sur de la tropical bass
                                            aux sonorités jamaïcaines !<br>
                                            Retrouvez The Ackee saltfish le vendredi sur la scène Root's</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- KLS -->
                        <div class="nf-item vendredi samedi spacing">
                            <div class="item-box">
                                <a>
                                    <img alt="1" style="object-fit: cover" src="../img/artistes/edition/artiste_2019_kls_2_500px.jpg" class="item-container photo-concerts-artiste-item">
                                    <div class="item-mask">
                                        <div class="item-caption">
                                            <p class="white text-justify text-original-case letter-spacing-no pt-1">KLS CREW</p>
                                            <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#kls-modal">
                                                Plus d'info
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">KLS CREW<span style="font-size:10px;"></span></h3>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">VENDREDI / SAMEDI</h6>
                                <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Collectif DJ multistyle</h6>
                            </div>
                        </div>
                        <div class="modal fade m-auto p-0" id="kls-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                                <div class="modal-content">
                                    <div class="modal-body jjj">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title text-center color-2020-rouge-nuit" style="padding-left:13px;">KLS CREW</h4>
                                        <h6 class="letter-spacing-1 text-center m-0 color-2020-violet-nuit">VENDREDI / SAMEDI</h6>
                                        <h6 class="letter-spacing-1 text-center m-0 pb-2 color-2020-violet-nuit">Collectif DJ multistyle</h6>
                                        <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p class="text-justify m-0"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>

                </div>

            </div>
        </section>

        <% }%>

        <!-- End Work Section -->

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script>
		$(".btn-plus-info").click(function(){
			setTimeout(function(){
				$(".jjj").each(function(i){
					var w = $(this).width();
					if (w > 0) {
						$(".modal-artiste-video").height(w*315/560);
						return false;
                    }
				});
			}, 1000);
		});
		$(window).resize(function() {
			$(".jjj").each(function(i){
				var w = $(this).width();
				if (w > 0) {
					$(".modal-artiste-video").height(w*315/560);
					return false;
				}
			});
		});

		$("#menu-concerts").css('color', '#e83d44');
        $("#sidebar-menu-artistes").css('color', '#e83d44');
    </script>
    <script type="text/javascript">
		$("#title-page-nav").append("Artistes");
    </script>
    
</body>
</html>
