<section class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="spacer-30"></div>
            <div class="owl-carousel client-carousel nf-carousel-theme ">

                <div class="item">
                    <div class="client-logo m-2">
                        <a href="https://www.onegum.eu/">
                            <img src="../img/partenaires/2021/oneGum.png" alt="" style="object-fit: scale-down" />
                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="client-logo m-2">
                        <a href="https://www.vaincrelamuco.org/">
                            <img src="../img/partenaires/2021/vlm.png" alt="" style="object-fit: scale-down" />
                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="client-logo m-2">
                        <a href="https://www.terrederunning.com/">
                            <img src="../img/partenaires/2021/TerredeRunning.png" alt="" style="object-fit: scale-down" />
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>