<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->


        <!-- CONTENT --------------------------------------------------------------------------------->

        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/courses-parcours.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">PARCOURS COURSES</div><br>
                    <h4 class="">
                        <span class="text-original-case">Défiez vos amis et faites un maximum de tours en 24h ! Parcours 2019</span>
                    </h4>
                </div>
            </div>
        </section>

        <div class="mt-3 mb-3"></div>

        <!--
        <section class="ptb pt-5">
            <div class="container">

                <div class="row">
                    <ul class="col container-filter categories-filter">
                        <li><a class="categories active" data-filter="*">All</a></li>
                        <li><a class="categories" data-filter=".anim-sports">Démonstrations sportives</a></li>
                        <li><a class="categories" data-filter=".anim-culture">Cultures, Art et Découverte</a></li>
                        <li><a class="categories" data-filter=".anim-plaisirs">Jeux et divertissements</a></li>
                    </ul>
                </div>

                <div class="row container-masonry nf-col-3">
                    <div class="nf-item anim-sports spacing">
                        <div class="item-box">
                            <a>
                                <img alt="1" style="object-fit: cover" src="../img/artistes/old/kavinsky.jpg" class="item-container photo-concerts-artiste-item">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <p class="white text-justify text-original-case letter-spacing-no pt-1">KAVINSKY (DJ SET)</p>
                                        <button type="button" class="btn btn-xs btn-white btn-plus-info" data-toggle="modal" data-target="#kavinsky-modal">
                                            Plus d'info
                                        </button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h3 class="color-concerts letter-spacing-1 text-center mb-0 titre-concerts-artiste-item">KAVINSKY <span style="font-size:10px;">(DJ SET)</span></h3>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-date-concerts-artiste-item">2018</h6>
                            <h6 class="letter-spacing-1 text-center m-0 sous-titre-style-concerts-artiste-item">Electro</h6>
                        </div>
                    </div>
                    <div class="modal fade m-auto p-0" id="kavinsky-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                            <div class="modal-content">
                                <div class="modal-body jjj">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title text-center" style="padding-left:13px;">KAVINSKY (DJ SET)</h4>
                                    <h6 class="letter-spacing-1 text-center m-0">2018</h6>
                                    <h6 class="letter-spacing-1 text-center m-0 pb-2">Electro</h6>
                                    <iframe class="modal-artiste-video" style="width: 100%; height: auto;" src="https://www.youtube.com/embed/N8ZAx_OvKpM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <p class="text-justify m-0">Vous l’avez connu dans Drive avec son tube surpuissant Nightcall, ou encore avec Roadgame, le DJ futuriste français a su s’approprier la scène électro mondiale. Le zombie à la Ferrari débarque sur le campus de La Doua pour vous faire vibrer avec ses tubes mêlant une synthwave rêveuse et futuriste aux sonorités des années 80. Mettez votre casque, baissez la visière, et laissez Kavinsky vous en mettre plein la figure.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <section class="pb-xs-60 pb pt-15">
            <div class="text-center map-responsive">
                <iframe src="https://www.google.com/maps/d/embed?mid=1MOyjBv7HP5vNC6DN0xmSTelcTPc" width="640" height="480"></iframe>
            </div>
        </section>

        <style>
            .map-responsive {
                overflow:hidden;
                padding-bottom:56.25%;
                position:relative;
                height:0;
                max-width: 90%;
                margin: auto;
            }
            .map-responsive iframe {
                left:0;
                top:0;
                height:100%;
                width:100%;
                position:absolute;
            }
        </style>

        <!-- <section id="testimonial" class="overlay-dark dark-bg ptb" style="background-image: url('../img/background/courses-constructions-back.jpg'); background-position-x: center; background-position-y: center;" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="testimonial-carousel">
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-code"></i></div>
                            <h2 style="font-weight: normal;">PAGE EN CONSTRUCTION / A VENIR</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>-->
    <script>
		$(".btn-plus-info").click(function(){
			setTimeout(function(){
				$(".jjj").each(function(i){
					var w = $(this).width();
					if (w > 0) {
						$(".modal-artiste-video").height(w*315/560);
						return false;
                    }
				});
			}, 1000);
		});
		$(window).resize(function() {
			$(".jjj").each(function(i){
				var w = $(this).width();
				if (w > 0) {
					$(".modal-artiste-video").height(w*315/560);
					return false;
				}
			});
		});
    </script>
    <script type="text/javascript">
		$("#menu-courses").css('color', '#e83d44');
		$("#sidebar-menu-parcours").css('color', '#e83d44');
		$("#title-page-nav").append("Parcours courses");
    </script>
    
</body>
</html>
