<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

<!-- Preloader --> <!--
 <!--
<section id="preloader">
    <div class="loader" id="loader">
        <div class="loader-img"></div>
    </div>
</section>
<!-- End Preloader -->

<!-- Sidebar Menu -->
<%- include sidebar.ejs %>
<!-- End Sidebar Menu -->

<!-- Site Wraper -->
<div class="wrapper">

    <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
    <%- include header.ejs %>
    <!-- End Header -->


    <!-- CONTENT --------------------------------------------------------------------------------->

    <!-- About Section -->
    <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/background_courses_2020.png">
        <div class="container">
            <div class="title">
                <div class="h1-titre">INSCRIPTIONS COURSES</div><br>
                <h4 class="">
                    <span class="text-original-case">Les inscriptions ouvriront le 29 Février 2020</span>
                </h4>
            </div>
        </div>
    </section>

    <section class="ptb d-none">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" style="font-size: 20px">
                    <h6 class=""><b>Vous pouvez vous inscrire sur place (vélo ou course à pied seulement) dans la limite des places restantes.</h5>
                    <h6 class=""><b>Vous pouvez contacter courses@24heures.org</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <section class="ptb-30 pt-2 pt-md-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 blog-post-hr m-auto">
                    <div class="blog-post">
                        <div class="post-header">
                            <h3 class="text-center">Aftermovie Courses et Animations 2018</h3>
                        </div>
                    </div>

                    <div class="post-media">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/juzVZSExeco" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <iframe width="100%" height="" src="" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <!-- END CONTENT ---------------------------------------------------------------------------->

    <!-- FOOTER -->
    <%- include footer.ejs %>
    <!-- END FOOTER -->

    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

</div>
<!-- Site Wraper End -->


<!-- JS -->

<script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
<script src="../js/jquery-ui.min.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
<script src="../js/plugin/wow.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
<script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
<script src="../js/plugin/mediaelement-and-player.min.js"></script>
<script src="../js/theme.js" type="text/javascript"></script>
<script>
	$(".btn-plus-info").click(function(){
		setTimeout(function(){
			$(".jjj").each(function(i){
				var w = $(this).width();
				if (w > 0) {
					$(".modal-artiste-video").height(w*315/560);
					return false;
				}
			});
		}, 1000);
	});
	$(window).resize(function() {
		$(".jjj").each(function(i){
			var w = $(this).width();
			if (w > 0) {
				$(".modal-artiste-video").height(w*315/560);
				return false;
			}
		});
	});
	$("#menu-courses").css('color', '#e83e43');
	$("#sidebar-menu-inscriptions").css('color', '#e83e43');
</script>
<script type="text/javascript">
	$("#title-page-nav").append("Inscriptions courses");
</script>

</body>
</html>
