<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->


        <!-- CONTENT --------------------------------------------------------------------------------->
        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/courses-resultats.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">RESULTATS COURSES</div><br>
                    <h4 class="">
                        <span class="text-original-case">Retrouvez les résultats des 24h de courses de l'édition 2018 et 2019</span>
                    </h4>
                </div>
            </div>
        </section>

        <div class="mt-3 mb-3"></div>

        <section id="service" class="wow fadeIn pt-60 pb-80">
            <div class="container text-center">
                <div class="row text-center">
                    <div class="col-md-8 offset-md-2">
                        <h4 class="text-center">RESULTATS 24H DE L'INSA 2019</h4>
                        <p class="lead">Resultats obtenus et publié par Chronosphère</p>
                    </div>
                </div>
                <div class="row mt-30">
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><i class="ion ion-android-walk"></i></div>
                        <h5>Courses à Pied</h5>
                        <p><a target="_blank" href="../documents/24h_insa_2019_courses_a_pied_solo.pdf">SOLO</a></p>
                        <p><a target="_blank" href="../documents/24h_insa_2019_courses_a_pied_equipe.pdf">EQUIPE</a></p>
                        <p><a target="_blank" href="../documents/24h_insa_2019_courses_a_pied_loisir.pdf">LOISIR</a></p>
                    </div>
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><i class="ion ion-android-bicycle"></i></div>
                        <h5>Courses à Vélo</h5>
                        <p><a target="_blank" href="../documents/24h_insa_2019_courses_velo_solo.pdf">SOLO</a></p>
                        <p><a target="_blank" href="../documents/24h_insa_2019_courses_velo_equipe.pdf">EQUIPE</a></p>
                        <p><a target="_blank" href="../documents/24h_insa_2019_courses_velo_loisir.pdf">LOISIR</a></p>
                    </div>
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><i class="ion ion-waterdrop"></i></div>
                        <h5>Triathlon</h5>
                        <p><a target="_blank" href="../documents/24h_insa_2019_courses_triathlon_solo.pdf">SOLO</a></p>
                        <p><a target="_blank" href="../documents/24h_insa_2019_courses_triathlon_equipe.pdf">EQUIPE</a></p>
                        <p><a target="_blank" href="../documents/24h_insa_2019_courses_triathlon_loisir.pdf">LOISIR</a></p>
                    </div>
                </div>
            </div>
        </section>

        <section id="service" class="wow fadeIn pt-60 pb-80">
            <div class="container text-center">
                <div class="row text-center">
                    <div class="col-md-8 offset-md-2">
                        <h4 class="text-center">RESULTATS 24H DE L'INSA 2018</h4>
                        <p class="lead">Resultats obtenus et publié par Chronosphère</p>
                    </div>
                </div>
                <div class="row mt-30">
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><i class="ion ion-android-walk"></i></div>
                        <h5>Courses à Pied</h5>
                        <p><a target="_blank" href="../documents/24h_insa_2018_courses_a_pied_solo.pdf">SOLO</a></p>
                        <p><a target="_blank" href="../documents/24h_insa_2018_courses_a_pied_equipe.pdf">EQUIPE</a></p>
                        <p><a target="_blank" href="../documents/24h_insa_2018_courses_a_pied_loisir.pdf">LOISIR</a></p>
                    </div>
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><i class="ion ion-android-bicycle"></i></div>
                        <h5>Courses à Vélo</h5>
                        <p><a target="_blank" href="../documents/24h_insa_2018_courses_velo_solo.pdf">SOLO</a></p>
                        <p><a target="_blank" href="../documents/24h_insa_2018_courses_velo_equipe.pdf">EQUIPE</a></p>
                        <p><a target="_blank" href="../documents/24h_insa_2018_courses_velo_loisir.pdf">LOISIR</a></p>
                    </div>
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><i class="ion ion-waterdrop"></i></div>
                        <h5>Triathlon</h5>
                        <p><a target="_blank" href="../documents/24h_insa_2018_courses_triathlon_solo.pdf">SOLO</a></p>
                        <p><a target="_blank" href="../documents/24h_insa_2018_courses_triathlon_equipe.pdf">EQUIPE</a></p>
                        <p><a target="_blank" href="../documents/24h_insa_2018_courses_triathlon_loisir.pdf">LOISIR</a></p>
                    </div>
                </div>
            </div>
        </section>



        <!-- <section>
            <div class="container">
            <div class="container-grid">
                <div class="nf-item">
                    <div class="item-box">
                        <a href="portfolio-single1.html">
                            <img alt="1" src="../img/portfolio/1.jpg" class="item-container">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">Consequat massa quis</h5>
                                    <p class="white">Branding, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="nf-item">
                    <div class="item-box">
                        <a href="portfolio-single2.html">
                            <img alt="1" src="../img/portfolio/2.jpg" class="item-container">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">Bookmarksgrove right at</h5>
                                    <p class="white">Branding, Design, Coffee</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="nf-item">
                    <div class="item-box">
                        <a href="portfolio-single3.html">
                            <img alt="1" src="../img/portfolio/3.jpg" class="item-container">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <h5 class="white">A small river named</h5>
                                    <p class="white">Branding, Design</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </section> -->

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script>
		$(".btn-plus-info").click(function(){
			setTimeout(function(){
				$(".jjj").each(function(i){
					var w = $(this).width();
					if (w > 0) {
						$(".modal-artiste-video").height(w*315/560);
						return false;
                    }
				});
			}, 1000);
		});
		$(window).resize(function() {
			$(".jjj").each(function(i){
				var w = $(this).width();
				if (w > 0) {
					$(".modal-artiste-video").height(w*315/560);
					return false;
				}
			});
		});
    </script>
    <script type="text/javascript">
		$("#menu-courses").css('color', '#F11286');
		$("#sidebar-menu-resultats").css('color', '#F11286');
		$("#title-page-nav").append("Résultats courses");
    </script>
    
</body>
</html>
