<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->
        <!-- CONTENT --------------------------------------------------------------------------------->

        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/courses-constructions-back.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">INFORMATIONS COURSES</div><br>
                    <h4 class="">
                        <span class="text-original-case">Retrouvez toutes les informations relatives aux courses de l'édition 2019 passée ici</span>
                    </h4>
                </div>
            </div>
        </section>

        <div class="mt-3 mb-3"></div>

        <!-- Work Section -->
        <section class="pt-5 pb-5">
            <div class="container">
                <!-- Accordion -->
                <div class="accordion">
                    <div class="accordion-section">
                        <h6 class="accordion-title">Comment m'inscrire ?</h6>
                        <div class="accordion-content">
                            <p><b>Les inscriptions ouvriront le 29 février 2020</b><br>
                                Rendez-vous à la page <a href="/courses/inscriptions">Inscriptions</a> et créer une équipe. Cette équipe est associée à un compte (avec mot de passe)
                                pour que vous puissiez vous connectez et complétez l'inscription. <span style="color: red;">Attention 1 compte = 1 équipe. Veuillez ne créer qu'un seul compte pour tous les membres de l'équipe.</span>
                                <br>Une fois l'équipe créée, rendez-vous à la page <a href="/courses/connexion">Connexion</a>
                                et connectez-vous avec le nom de l'équipe, puis complétez les informations demandées. N'oubliez pas d'ajouter les informations du ou des membres de votre équipe.</p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">Comment être sur que mon inscription a été validée</h6>
                        <div class="accordion-content">
                            <p>Rendez-vous sur votre compte pour voir si votre inscription a été définitivement validée.
                                Nous vous laissons quelques jours pour procéder au paiement et charger votre certificat médical.
                                Si cela n'est pas fait dans les semaines qui suivent, l'inscription sera annulée et une équipe sur liste d'attente sera prise.</p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">Quels sont les documents nécessaires à la validation de l'inscription</h6>
                        <div class="accordion-content">
                            <p>Pour valider l'inscription, il faut :<br>
                            - le paiement de chaque coureur<br>
                            - un certificat médical portant la mention <b>"autorise la pratique du ... en compétition"</b> où ... est remplacé par le type de sport auquel vous participez (triathlon / cyclisme / course à pied).<br>
                            - pour les sportifs licenciés dans le sport de la course, vous pouvez nous faire parvenir la photocopie de votre licence en cours de validité à la place du certificat médical.<br>
                            - la carte VA (pour les détenteurs)
                            </p>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Qu’est ce que la carte VA ?</h6>
                            <div class="accordion-content">
                                <p>C'est la carte de la vie associative. Elle concerne seulement les étudiants de l'INSA adhérents.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">Les courses, c'est quoi, c'est quand ?</h6>
                        <div class="accordion-content">
                            <p>
                               Les courses se déroulent sur 24h du 16 mai 14h au 17 mai 14h. Elles se décomposent en 3 types :<br>
                            - Course à Vélo<br>
                                - Course à Pied<br>
                                - Triathlon (4h de natation, 14h de vélo, 6h de course à pied)<br>
                            </p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">Comment fonctionnent les catégories ?</h6>
                        <div class="accordion-content">
                            <p>
                                Pour chaque sport, on a les catégories suivantes :<br>
                                - Solo (Equipe composée de 1 personne)<br>
                                - Equipe (Equipe composée de 2 à 4 personnes)<br>
                                - Loisirs (Equipe composée  de 5 à 12 personnes)<br>
                                - Folklo (Equipe composé de 1 à 12 personnes)<br>
                            </p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">La course Folklo, c'est quoi ?</h6>
                        <div class="accordion-content">
                            <p>
                                Faire la course en folklo ça sert à mettre l'ambiance !<br>
                                Viens avec ton vélo déguisé ou toi déguisé sur ton vélo, si tu es un pro du bricolage, tu peux même faire un véhicule pour plusieurs personnes, décoré, stylisé, bonne ambiance assurée. La course folklo dure quant à elle moins d'une journée (aucune course folklo la nuit).
                            </p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <h6 class="accordion-title">Quels sont les tarifs des courses</h6>
                        <div class="accordion-content">
                            <p>
                                Voici la grille tarifaire 2020 par coureur : <br>
                                - VELO Solo > Tarif normal : 20€ / Tarif INSA VA : 15€ <br>
                                - VELO Equipe > Tarif normal : 15€ / Tarif INSA VA : 10€ <br>
                                - VELO Loisir > Tarif normal : 12€ / Tarif INSA VA : 8€ <br>
                                - COURSE A PIED Solo > Tarif normal : 20€ / Tarif INSA VA : 15€ <br>
                                - COURSE A PIED Equipe > Tarif normal : 15€ / Tarif INSA VA : 10€ <br>
                                - COURSE A PIED Loisir > Tarif normal : 12€ / Tarif INSA VA : 8€ <br>
                                - TRIATHLON Solo > Tarif normal : 25€ / Tarif INSA VA : 20€ <br>
                                - TRIATHLON Equipe > Tarif normal : 20€ / Tarif INSA VA : 15€ <br>
                                - TRIATHLON Loisir > Tarif normal : 15€ / Tarif INSA VA : 10€ <br>
                                - FOLKLO > Gratuit pour tous
                            </p>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Comment payer ?</h6>
                            <div class="accordion-content">
                                <p>Une fois inscrit sur ce site (dans l'onglet courses/inscriptions), vous aurez accès à la page pour procéder au paiement.
                                    Assurez-vous d'avoir d'abord inscrit vos informations personnelles et certificat médical avant de payer.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Comment venir ?</h6>
                            <div class="accordion-content">
                                <p>Rendez-vous à la page <a target="_blank" href="/infos/transports">Transport</a>.<br>
                                    Dans le cas où vous souhaitez venir en voiture, vous pouvez consulter la question suivante.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Où se garer ?</h6>
                            <div class="accordion-content">
                                <p>
                                    Le campus de la Doua étant fermé à la circulation sur l’ensemble du week-end de festivités, vous pourrez rentrer uniquement en véhicule à moteur par l’entrée ouest (voir plan), le vendredi 15 avant 20h, ou le samedi 16 matin entre 6h et 10h afin de vous installer.<br>
                                    Il n'est pas possible de rentrer après 20h le vendredi, ni après 10h le samedi, planifiez donc votre arrivée en conséquence.<br>
                                    Un justificatif d’identité au nom d’un coureur sera exigé pour que le véhicule puisse rentrer.<br>
                                    Dans le cas où vous ne pourriez arriver qu’après 20h le vendredi, il vous sera tout de même possible de vous garer à proximité, sur la contre allée longeant le boulevard Laurent Bonnevay (zone grisée sur la plan). D’ici, vous pourrez venir vous installer à pied (moins de 200 mètres) en attendant de rentrer votre véhicule sur le campus le samedi matin entre 6h et 10h.<br>
                                    Une fois sur le campus vous serez autorisés à venir vous garer et vous installer sur la pelouse longeant le boulevard Niels Bohr (zone verte sur le plan): <a target="_blank" href="https://www.google.com/maps/d/u/0/viewer?mid=1poQHHGe80NHDJCHNXRM7TPgd2AGzNF7p&ll=45.78365686358531%2C4.871056112759106&z=16">Plan et Parcours</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Y a t-il un ravitaillement ?</h6>
                            <div class="accordion-content">
                                <p>Le ravito est là pour les coureurs et leur petite (ou grosse) faim.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Où les accompagnateurs / supporters peuvent-ils manger ?</h6>
                            <div class="accordion-content">
                                <p>Vos sandwichs et pique-niques seront de la partie ! Sinon il y'a aussi des food-trucks sur le campus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Qu'est-ce que le village coureur ?</h6>
                            <div class="accordion-content">
                                <p>Le village coureur sera le centre de vie des coureurs et de la course. C’est l’endroit du ravito, de l’espace sieste, et de l’espace détente avec des ostéopathes qui seront présents.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Quel est le réglement des courses ?</h6>
                            <div class="accordion-content">
                                <p>Consultez le réglement des courses 2019 ici <a target="_blank" href="../documents/reglement_courses_2019.pdf">Reglement</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Quel est la réglementation pour les mineurs ?</h6>
                            <div class="accordion-content">
                                <p>Courses à pied : <br>
                                    - Benjamin (né en 2007/2008) --> 3 km max<br>
                                    - Minime (né en 2005/2006) --> 5 km max<br>
                                    - Cadet (né en 2003/2004) --> 15 km max<br>
                                    - Junior (né en 2002) --> 25 km max
                                </p>
                                <p>Vélo : <br>
                                    - Minime (né en 2005/2006) --> 40 km max / Dev max 7.01m<br>
                                    - Cadet (né en 2003/2004) --> 80 km max / Dev max 7.62m<br>
                                    - Junior (né en 2002) --> Dev 7.93m
                                    Dev = circonférence de roue * nb dents plateau / nb dents pignon.
                                </p>
                                <p>Triathlon (né entre 2002 et 2008) : <br>
                                    - Natation : 300m<br>
                                    - Cyclisme : 6km<br>
                                    - Course à pied : 2km</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion d-none">
                        <div class="accordion-section">
                            <h6 class="accordion-title">Qu’est ce qu’est le partenariat avec le Sidaction ?</h6>
                            <div class="accordion-content">
                                <p>Plus d'info sur la page <a href="course-caritative">Course caritative</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Accordion -->
            </div>
        </section>
        <section class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="spacer-30"></div>
                <div class="owl-carousel client-carousel nf-carousel-theme ">
                    <div class="item">
                        <div class="client-logo m-2">
                            <img src="../img/partenaires/logo_filactions_couleur_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo m-2">
                            <img src="../img/partenaires/logo_isosteo_couleur_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo m-2 ml-4 mr-4">
                            <img src="../img/partenaires/logo_weleda_nb_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo m-2 ml-4 mr-4">
                            <img src="../img/partenaires/logo_runalp_couleur_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                    <div class="item d-none">
                        <div class="client-logo m-2 ml-4 mr-4">
                            <img src="../img/partenaires/logo_aquarium_de_lyon_couleur_sf.png" alt="" style="object-fit: scale-down" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Work Section -->
        
        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.downCount.js" type="text/javascript"></script>

    <script type="text/javascript">
		$('.countdown').downCount({
			date: '05/17/2019 19:00:00',
			offset: +10
		}, function () {
		});
    </script>
    <script type="text/javascript">
		$("#menu-courses").css('color', '#e83d44');
		$("#sidebar-menu-informations").css('color', '#e83d44');
        $("#title-page-nav").append("Infos Courses");
    </script>


    
</body>
</html>
