<footer class="footer">
    <!-- Copyright Bar -->
    <section class="copyright ptb-15">
        <div class="container">
            <p class="">
            <ul class="social">
                <li><a target="_blank" href="https://www.facebook.com/24heuresinsa/"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/24heuresinsa"><i class="fa fa-lg fa-twitter"></i></a></li>
                <li><a target="_blank" href="https://www.instagram.com/24heuresinsa/"><i class="fa fa-lg fa-instagram"></i></a></li>
                <li><a target="_blank" href="https://www.flickr.com/photos/24-heures/albums"><i class="fa fa-lg fa-flickr"></i></a></li>
                <li><a target="_blank" href="https://www.youtube.com/channel/UC9Zbc7wBMv2nro0hazcVMFw"><i class="fa fa-lg fa-youtube-play"></i></a></li>
            </ul>
            </p>
            <p>
            <ul class="footer-links">
                <li class="d-inline"><a href="/mentions-legales">Mentions légales </a></li>&#9702;
                <li class="d-inline"><a target="_blank" href="https://www.flickr.com/photos/24-heures/albums">Photos </a></li>&#9702;
                <li class="d-inline"><a href="/partenaires">Partenaires </a></li>&#9702;
                <li class="d-inline"><a href="/infos/contact">Contact </a></li>
            </ul>
            </p>
            <p class="">
                © 2018 <a><b>Les 24 heures de l'INSA</b></a>.
                <br />
                Tous droits reservés.
                <!--Template  by <a target="_blank" href="http://nileforest.com/"><b>nileforest</b></a>-->
            </p>
        </div>
    </section>
    <!-- End Copyright Bar -->
</footer>