<header id="header" class="header header--dark header-transparent header--sticky position-fixed">
    <!-- Nav Bar -->
    <nav id="navigation" class="header-nav">
        <div class="container">
            <div class="row d-flex flex-md-row align-items-center">
                <div class="logo mr-auto">
                    <!--logo-->
                    <a href="/">
                        <img class="logo-dark" src="/img/logos/logo_24h_insa_edition_2019_horizontal_nuit_sf_100px.png" alt="Mazel" />
                        <img class="logo-light" src="/img/logos/logo_24h_insa_edition_2019_horizontal_nuit_sf_100px.png" alt="Mazel" />
                    </a>
                    <!--End logo-->
                </div>

                <div class="nav-menu ml-auto">
                    <ul class="">
                        <li class="nav-menu-item">
                            <a href="#" id="menu-concerts">CONCERTS</a>
                            <div class="nav-dropdown">
                                <ul>
                                    <li><a href="/concerts/artistes">Artistes</a></li>
                                    <li><a href="/concerts/tremplins">Tremplins</a></li>
                                    <!--<li><a href="/concerts/timetable">Timetable</a></li>-->
                                    <li><a href="/billetterie">Billetterie</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-menu-item">
                            <a href="#" id="menu-animation">ANIMATIONS</a>
                            <div class="nav-dropdown">
                                <ul>
                                    <li><a href="/animations">Animations</a></li>
                                    <li><a href="/prevention">Prévention</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-menu-item">
                            <a href="#" id="menu-courses">COURSES</a>
                            <div class="nav-dropdown">
                                <ul>
                                    <li><a href="/courses/inscriptions">Inscriptions</a></li>
                                    <li><a href="/courses/connexion">Connexion</a></li>
                                    <li><a href="/courses/informations">Informations</a></li>
                                    <li><a href="/courses/parcours">Parcours</a></li>
                                    <li><a href="/courses/resultats">Résultats</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-menu-item">
                            <a href="/billetterie" id="menu-billetterie">BILLETTERIE</a>
                        </li>

                        <li class="nav-menu-item">
                            <a href="#" id="menu-infos-pratiques">INFOS PRATIQUES</a>
                            <div class="nav-dropdown">
                                <ul>
                                    <li><a href="/infos/transports">Transports</a></li>
                                    <li><a href="/infos/bars-restauration">Bars/Restauration</a></li>
                                    <li><a href="/infos/faq">FAQ</a></li>
                                    <li><a href="/infos/contact"">Nous contacter</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-menu-item">
                            <a href="#" id="menu-a-propos">A PROPOS</a>
                            <div class="nav-dropdown">
                                <ul>
                                    <li><a href="/histoire">Histoire</a></li>
                                    <li><a href="/organisation">Organisation</a></li>
                                    <li><a href="/partenaires">Les partenaires</a></li>
                                    <li><a href="/benevolat">Devenir bénévole</a></li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>

                <h6 id="title-page-nav" class="d-inline d-lg-none" style="text-transform: none; letter-spacing: initial; margin: auto; margin-right: 0px; color: white"></h6>
                <div class="nav-icons">
                    <!--<div class="nav-icon-item d-lg-none">
                        <span class="nav-icon-trigger menu-mobile-btn align-middle"><i class="ion"></i></span>
                    </div> -->
                    <div class="nav-icon-item d-none d-lg-block">
                        <span class="nav-icon-trigger align-middle"><a target="_blank" href="https://www.facebook.com/24heuresinsa/"><i class="ion ion-social-facebook fb-header"></i></a></span>
                    </div>
                    <div class="nav-icon-item d-block d-lg-none">
                        <span class="nav-icon-trigger sidebar-menu_btn align-middle"><i class="ion ion-navicon"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Nav Bar -->
    <style>

    </style>
</header>