<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
    <link href="../css/plugin/YTPlayer.css" rel="stylesheet" />
</head>

<body>

    <!-- Preloader --> <!--
    <!--<section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section> -->
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->


        <!-- CONTENT --------------------------------------------------------------------------------->

        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" style="background-position: center -450px; background-size: auto" data-background-img="img/site/public_home_page_2.jpg">
            <div class="container">
                <div class="row title p-1">
                    <h3 class="">RENDEZ-VOUS LES 17, 18 ET 19 MAI 2019</h3>
                    <h4 class="">PASS 1 SOIRS 12€ | PASS 2 SOIRS 18€</h4>
                    <div class="page-breadcrumb">
                        <a href="/billetterie">BILLETTERIE</a>
                    </div><br><br><h4 class="">TOUTE LA PROG' ARRIVE BIENTÔT...</h4>
                    <div><img src="../img/site/prog_v1.png"/></div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>


        <section class="ptb-30 pt pt-sm-60 pt-60">
            <div class="container">
                <div class="row">
                    <!-- Post Bar -->
                    <div class="col-lg-9 col-md-12 blog-post-hr m-auto">
                        <div class="blog-post mb-30">
                            <div class="post-header">
                                <h3 class="text-center">AFTERMOVIES 2018 (Concerts et Courses/Animations)</h3>
                            </div>
                            <div class="post-media">
                                <div class="owl-carousel item1-carousel nf-carousel-theme">
                                    <div class="item">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/8tBHAPQh5Cs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </div>
                                    <div class="item">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/juzVZSExeco" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="post-entry">
                                <p class="">Aidez-nous à vous proposer encore mieux chaque année en répondant au questionnaire de satisfaction de l'édition 2018 : <a href="https://docs.google.com/forms/d/e/1FAIpQLSeKT6E4q9Hc4SUIk_OwdLNgxaRyVhbq6OxYea8AJXdjwZDkkw/viewform">Questionnaire</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- End Post Bar -->
                </div>
            </div>
        </section>

        <section id="testimonial" class="overlay-dark dark-bg ptb p-5" style="background-image: url('img/full/22.jpg');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-calendar"></i></div>
                            <h3 style="font-weight: normal;">RENDEZ-VOUS LES 17, 18 ET 19 MAI 2019</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="service" class="ptb-30 pt-5">
            <div class="wow fadeInLeft container text-center">
                <h3 class="pb-3">LE FESTIVAL</h3>
                <div class="row">
                    <div class="col-md-3 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-musical-notes"></i></div>
                        <h5>DES CONCERTS</h5>
                        <p>Plus de 20 artistes s'enchainent sur les 3 scènes du festival pour deux nuits entières de concerts.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-basketball"></i></div>
                        <h5>DES ANIMATIONS</h5>
                        <p>Toute la journée, durant tout le week-end, profitez d'une soixantaine d'animations en famille ou entre amis !<br><b>100% GRATUIT</b>.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-android-bicycle"></i></div>
                        <h5>DES COURSES</h5>
                        <p>Que serait le festival sans ses célèbres 24 heures de courses ? Seul ou en équipe, à pied ou à vélo, c'est l'occasion rêvée de défier vos amis.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-happy"></i></div>
                        <h5>DU CONFORT</h5>
                        <p>Des stands de restauration, des bars, des toilettes et une sécurité accrue : tout est mis en oeuvre pour que vous passiez un excellent moment.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.mb.YTPlayer.min.js"></script>
    
</body>
</html>
