<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
    <link href="../css/plugin/YTPlayer.css" rel="stylesheet" />
</head>

<body>

    <!-- Preloader --> <!--
    <!--<section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section> -->
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
        <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
        <script src="../js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
        <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
        <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
        <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
        <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
        <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
        <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
        <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
        <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
        <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
        <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
        <script src="../js/plugin/mediaelement-and-player.min.js"></script>
        <script src="../js/theme.js" type="text/javascript"></script>
        <script src="../js/plugin/jquery.mb.YTPlayer.min.js"></script>
        <script src="../js/plugin/jquery.downCount.js" type="text/javascript"></script>
        <script src="../js/plugin/mediaelement-and-player.min.js"></script>

        <style type="text/css">
            /* counter clock css */
            ul.countdown {
                list-style: none;
                padding: 0;
                display: block;
                text-align: center;
                font-family: 'arial', sans-serif !important;
            }

            .font-billetterie-date{
                font-size: 9vw;
            }

            .font-billetterie-date2{
                font-size: 3vw;
            }

            ul.countdown li {
                display: inline-block;
            }

            ul.countdown li span {
                font-size: 7.5vw;
                font-weight: 300;
                color: #e83e43;

            }

            ul.countdown li.seperator {
                font-size: 3vw;
                line-height: 30px;
                vertical-align: top;
                color: #e83e43;

            }

            ul.countdown li p {
                color: #e83e43;
                font-size: 3vw;
            }
            /* emd counter clock css */

            @media (max-width: 767px) {

                .text-center-xs {
                    text-align: center;
                }
            }

            @media (min-width: 1000px) {
                .font-billetterie-date{
                    font-size: 90px;
                }
                .font-billetterie-date2{
                    font-size: 30px;
                }

                ul.countdown li span {
                    font-size: 90px;
                    color: #e83e43;
                    font-weight: 300;
                }

                ul.countdown li.seperator {
                    font-size: 60px;
                    line-height: 40px;
                    vertical-align: top;
                    color: #e83e43;

                }

                ul.countdown li p {
                    color: #e83e43;
                    font-size: 28px;
                }
            }
        </style>

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->

        <!-- JS -->

        <!-- CONTENT --------------------------------------------------------------------------------->

        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background5" style="background-color: #202446; background-position: center" data-background-img="img/background/home-bellecour.jpg">
            <div class="container pt-4">
                <div class="row title p-1">
                    <h3 class="d-none">VOUS ETIEZ 40 000 SUR TOUT LE WEEK-END</h3>
                    <h1 class="mt-1 d-none">MERCI</h1>
                    <div style="max-width: 600px;" class="m-auto d-none"><img src="../img/artistes/edition/programmation_home_site.png"/></div><br>
                    <h2 style="letter-spacing: 0px; line-height: 13px">15, 16 et 17 mai 2020</h2>
                    <h4 class="pb-4" style="letter-spacing: 0px; line-height: 16px;">Campus de la Doua | Villeurbanne</h4>
                    <h5 class="" style="line-height: 15px;">PASS 1 SOIR | 12 €</h5>
                    <div class="page-breadcrumb">
                        <a href="/billetterie">BILLETTERIE</a>
                    </div><h4 class="d-none"></h4>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>

        <section class="ptb-30 pt pt-sm-60 pt-60 d-none">
            <div class="container">
                <div class="row">
                    <!-- Post Bar -->
                    <div class="col-lg-9 col-md-12 blog-post-hr m-auto">
                        <div class="blog-post mb-30">
                            <div class="post-header">
                                <h3 class="text-center">Aidez-nous à vous proposer encore mieux en répondant au questionnaire de satisfaction de l'édition 2019 :
                                    <a href="https://forms.gle/x1KSiTokAicjubD3A" style="color: #0f3e68">Questionnaire</a></h3>
                            </div>
                        </div>
                    </div>
                    <!-- End Post Bar -->
                </div>
            </div>
        </section>

        <section class="ptb-30 pt pt-sm-60 pt-60" data-background-img="img/background/home-mome.jpg">
            <div class="container">
                <div class="row">
                    <!-- Post Bar -->
                    <div class="col-lg-9 col-md-12 blog-post-hr m-auto">
                        <div class="blog-post mb-30">
                            <div class="post-header">
                                <h3 class="text-center">PROGRAMMATION COMPLETE !</h3>
                            </div>
                            <div class="post-entry">
                                <h5 class="text-center pb-2">La programmation complète de l'édition 2020 est enfin arrivée !<br>
                                    <a href="/concerts/artistes"><button class="btn btn-md" style="background-color: #202446; color: white">ARTISTES</button></a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <!-- End Post Bar -->
                </div>
            </div>
        </section>

        <section id="testimonial" class="overlay-dark dark-bg p-5 5" style="background-image: url('img/background/orga-equipe-paille.jpg'); background-position: center center; background-size: cover;" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><h3><i class="fa fa-smile-o"></i> BENEVOLAT</h3></div>
                            <h5 class="text-center">Rejoins-nous et viens nous aider à organiser l'un des plus grands festivals étudiant !
                                <a href="/benevolat" style="color: #ffaee7">En savoir plus</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ptb-30 pt pt-sm-60 pt-60" data-background-img="img/background/home-mome.jpg">
            <div class="container">
                <div class="row">
                    <!-- Post Bar -->
                    <div class="col-lg-9 col-md-12 blog-post-hr m-auto">
                        <div class="blog-post mb-30">
                            <div class="post-header">
                                <h3 class="text-center">AFTERMOVIE 2019</h3>
                            </div>
                            <div class="post-media">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/NDmVhw7Rpwc" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
                            </div>
                            <div class="post-entry">
                                <p class="">Aidez-nous à vous proposer encore mieux l'année prochaine en répondant au questionnaire de satisfaction de l'édition 2019 :
                                    <a href="https://forms.gle/x1KSiTokAicjubD3A" style="color: #ffaee7">Questionnaire</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- End Post Bar -->
                </div>
            </div>
        </section>

        <section class="ptb-30 pt pt-sm-60 pt-60 d-none">
            <div class="container">
                <div class="row">
                    <!-- Post Bar -->
                    <div class="col-lg-9 col-md-12 blog-post-hr m-auto">
                        <div class="blog-post mb-30">
                            <div class="post-header">
                                <h3 class="text-center" style="">RETROSPECTIVE EDITION 2019</h3>
                                <h6 class="text-center">4 STORIES DU FESTIVAL A REVIVRE</h6>
                            </div>
                            <div class="">
                                <div class="owl-carousel item1-carousel nf-carousel-theme">
                                    <div class="item">
                                        <span style="position: relative; top:290px; left: 20px; color: white; z-index: 10;">VENDREDI SOIR</span>
                                        <video class="" style="width: 100%; max-height: 353px;" width="" height="" id="player2" preload="auto" poster="" controls="controls" playsinline>
                                            <!-- MP4 source must come first for iOS -->
                                            <source type="video/mp4" src="media/retrospective_24h_insa_2019_nuit_vendredi.mp4" />
                                        </video>
                                    </div>
                                    <div class="item">
                                        <span style="position: relative; top:290px; left: 20px; color: white; z-index: 10;">SAMEDI JOURNEE</span>
                                        <video class="" style="width: 100%; max-height: 353px;" width="" height="" id="player2" preload="auto" poster="" controls="controls" playsinline>
                                            <!-- MP4 source must come first for iOS -->
                                            <source type="video/mp4" src="media/retrospective_24h_insa_2019_jour_samedi.mp4" />
                                        </video>
                                    </div>
                                    <div class="item">
                                        <span style="position: relative; top:290px; left: 20px; color: white; z-index: 10;">SAMEDI SOIR</span>
                                        <video class="" style="width: 100%; max-height: 353px;" width="" height="" id="player2" preload="auto" poster="" controls="controls" playsinline>
                                            <!-- MP4 source must come first for iOS -->
                                            <source type="video/mp4" src="media/retrospective_24h_insa_2019_nuit_samedi.mp4" />
                                        </video>
                                    </div>
                                    <div class="item">
                                        <span style="position: relative; top:290px; left: 20px; color: white; z-index: 10;">DIMANCHE JOURNEE</span>
                                        <video class="" style="width: 100%; max-height: 353px;" width="" height="" id="player2" preload="auto" poster="" controls="controls" playsinline>
                                            <!-- MP4 source must come first for iOS -->
                                            <source type="video/mp4" src="media/retrospective_24h_insa_2019_jour_dimanche.mp4" />
                                        </video>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Post Bar -->
                </div>
            </div>
        </section>

        <section id="testimonial" class="overlay-dark dark-bg ptb p-5 5" style="background-image: url('img/background/home-public-45.jpg'); background-position: center center; background-size: cover;" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
                    <div class="item">
                        <div class="testimonial text-center dark-color d-none">
                            <div class="container-icon"><i class="fa fa-calendar-o"></i> <i class="fa fa-"></i></div>
                            <h4 class="text-center">Aidez-nous à vous proposer encore mieux en répondant au questionnaire de satisfaction de l'édition 2019 :
                                <a href="https://forms.gle/x1KSiTokAicjubD3A" style="color: #ffaee7">Questionnaire</a></h4>
                            <ul class="countdown" style="color: white;">
                                <li>
                                    <span class="days">00</span>
                                    <p class="days_ref">days</p>
                                </li>
                                <li class="seperator">.</li>
                                <li>
                                    <span class="hours">00</span>
                                    <p class="hours_ref">hours</p>
                                </li>
                                <li class="seperator">:</li>
                                <li>
                                    <span class="minutes">00</span>
                                    <p class="minutes_ref">minutes</p>
                                </li>
                                <li class="seperator">:</li>
                                <li>
                                    <span class="seconds">00</span>
                                    <p class="seconds_ref">seconds</p>
                                </li>
                            </ul>
                        </div>
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-calendar"></i> <i class="fa fa-"></i></div>
                            <h2 class="text-center">RENDEZ-VOUS LES 15, 16 & 17 MAI 2020</h2>
                            <h5 class="d-none"><a href="https://forms.gle/x1KSiTokAicjubD3A" style="color: #ffaee7">Questionnaire de satisfaction de l'édition 2019</a></h5>
                            <ul class="countdown pt-3" style="color: white; background: rgba(232, 61, 68, 0)">
                                <li>
                                    <span class="days">00</span>
                                    <p class="days_ref">days</p>
                                </li>
                                <li class="seperator">.</li>
                                <li>
                                    <span class="hours">00</span>
                                    <p class="hours_ref">hours</p>
                                </li>
                                <li class="seperator">:</li>
                                <li>
                                    <span class="minutes">00</span>
                                    <p class="minutes_ref">minutes</p>
                                </li>
                                <li class="seperator">:</li>
                                <li>
                                    <span class="seconds">00</span>
                                    <p class="seconds_ref">seconds</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="service" class="ptb-30 pt-5">
            <div class="wow fadeInLeft container text-center">
                <h3 class="pb-3">LE FESTIVAL</h3>
                <div class="row">
                    <div class="col-md-3 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-musical-notes"></i></div>
                        <h5>DES CONCERTS</h5>
                        <p>Plus de 20 artistes s'enchainent sur les 3 scènes du festival pour deux nuits entières de concerts.<br><a href="/concerts/artistes">Voir les artistes</a></p>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-basketball"></i></div>
                        <h5>DES ANIMATIONS</h5>
                        <p>Toute la journée, durant tout le week-end, profitez d'une soixantaine d'animations en famille ou entre amis !<br><b>100% GRATUIT</b>.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-android-bicycle"></i></div>
                        <h5>DES COURSES</h5>
                        <p>Que serait le festival sans ses célèbres 24 heures de courses ? Seul ou en équipe, à pied ou à vélo, c'est l'occasion rêvée de défier vos amis.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-45">
                        <div class="page-icon-top"><i class="ion ion-happy"></i></div>
                        <h5>DU CONFORT</h5>
                        <p>Des stands de restauration, des bars, des toilettes et une sécurité accrue : tout est mis en oeuvre pour que vous passiez un excellent moment.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <script type="text/javascript">
			$('.countdown').downCount({
				date: '05/15/2020 22:00:00',
				offset: +2
			}, function () {
				return;
			});
        </script>
        <script>
            $('.owl-next').click();
        </script>

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->
    
</body>
</html>
