<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->


        <!-- CONTENT --------------------------------------------------------------------------------->

        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/infos-bars-back.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">COMMENT PAYER ?</div><br>
                    <h4 class="">
                        <span class="text-original-case">Espèce, CB ou Lyf Pay, c'est vous qui voyez</span>
                    </h4>
                </div>
            </div>
        </section>

        <div class="mt-3 mb-3"></div>

        <section id="testimonial" class="pt pb-5">
            <div class="wow fadeInLeft container text-center">
                <h3 class="pb-3">MOYENS DE PAIEMENT ACCEPTES SUR LE FESTIVAL</h3>
                <div class="row">
                    <div class="col-md-4 col-sm-4 mb-45">
                        <div class="page-icon-top"><img src="../img/logos/ion-lyfpay-noir.png"></div>
                        <h5>AVEC L'APPLICATION LYF PAY</h5>
                        <p>Payez aux espaces food et bars avec votre smartphone et gagnez 3€*<br>
                            <a data-toggle="modal" data-target="#lyfpay-modal" class="btn btn-black btn-md mt-1">Plus de détails</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4 mb-45">
                        <div class="page-icon-top"><i class="ion ion-card"></i></div>
                        <h5>EN CARTE BLEUE</h5>
                        <p>Paiement avec ou sans-contact.<br>
                            Paiement par téléphone / Paylib.<br>
                            Pas de montant minimum.</p>
                    </div>
                    <div class="col-md-4 col-sm-4 mb-45">
                        <div class="page-icon-top"><i class="ion ion-social-euro"></i></div>
                        <h4>EN ESPECES</h4>
                        <p>Pas de distributeur sur le campus.<br>
                            Retirez avant de venir.</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade m-auto p-0" id="lyfpay-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="padding-top: 50px;" role="document">
                <div class="modal-content">
                    <div class="modal-body jjj">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title text-center" style="padding-left:13px;">PAIEMENT MOBILE LYF PAY</h3>
                        <h6 class="letter-spacing-1 text-center m-0 pb-2">
                            Gagnez 3€ sur votre premier paiement avec l’app grâce au code INSA24H et payez avec
                            votre smartphone à tous les stands et foodtrucks sans avoir besoin de précharger votre compte !
                        </h6>
                        <img class="d-none" src="/img/site/tuto_lyfpay.png"/>
                        <p>On ne sépare pas une équipe qui gagne : cette année encore, Lyf Pay sera l’app de paiement
                            mobile du festival !<br><br>
                            Comment profiter du code INSA24H ?<br>
                            1.	Rendez-vous dans la rubrique Fidélité<br>
                            2.	Saisissez le code INSA24H dans l’onglet Bons d’achat<br>
                            3.	Payez avec Lyf Pay pour profiter de 3 €* offerts en présentant votre QR code<br><br>
                            BONNE NOUVELLE : Vous pouvez aussi faire des paiements entre amis et créer des gagnottes gratuites !
                        <br><br>
                            <a class="btn btn-md btn-black m-auto" href="https://lyfpay.onelink.me/683416098/5e728fb0">Télécharger l'application gratuitement</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script>
		$(".btn-plus-info").click(function(){
			setTimeout(function(){
				$(".jjj").each(function(i){
					var w = $(this).width();
					if (w > 0) {
						$(".modal-artiste-video").height(w*315/560);
						return false;
                    }
				});
			}, 1000);
		});
		$(window).resize(function() {
			$(".jjj").each(function(i){
				var w = $(this).width();
				if (w > 0) {
					$(".modal-artiste-video").height(w*315/560);
					return false;
				}
			});
		});
    </script>
    <script type="text/javascript">
		$("#menu-infos-pratiques").css('color', '#e83e43');
		$("#sidebar-menu-payer").css('color', '#e83e43');
		$("#title-page-nav").append("Comment Payer ?");
    </script>
    
</body>
</html>
