<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->
        <!-- CONTENT --------------------------------------------------------------------------------->

        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/home-spot.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">FOIRE AUX QUESTIONS</div><br>
                    <h4 class="">
                        <span class="text-original-case">Un doute ? Une question ? Consultez la foire aux questions afin de profiter du festival sans soucis !</span>
                    </h4>
                </div>
            </div>
        </section>

        <div class="mt-3 mb-3"></div>

        <!-- Work Section -->
        <section class="p-md-5">
            <div class="container">
                <div class="tabs b-lrb-none">
                    <ul>
                        <li><a href="#tabs-billetterie"><i class="ion ion-flag left"></i>Billetterie</a></li>
                        <li><a href="#tabs-securite"><i class="ion ion-star left"></i>Sécurité</a></li>
                        <li><a href="#tabs-accessibilite"><i class="ion ion-pin left"></i>Accessibilité</a></li>
                        <li><a href="#tabs-divers"><i class="ion ion-android-textsms left"></i>Informations diverses</a></li>
                    </ul>
                    <div class="ui-tab-content">
                        <div id="tabs-billetterie" class="plr-0">
                            <!-- Accordion -->
                            <div class="accordion">
                                <div class="accordion-section">
                                    <h6 class="accordion-title">Quel est le prix de la 46éme édition</h6>
                                    <div class="accordion-content">
                                        <p>
                                            Cette année, les animations, les courses et les concerts sont entièrement gratuits. Il n’y a donc pas de billetterie pour cette édition.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Accordion -->
                        </div>
                        <div id="tabs-securite" class="plr-0">
                            <!-- Accordion -->
                            <div class="accordion">
                                <div class="accordion-section">
                                    <h6 class="accordion-title">Quelles sont les règles à respecter pour les animations sur le campus ?</h6>
                                    <div class="accordion-content">
                                        <p>
                                            Pour l’expo photo, le jeu de piste et le clean’up, les règles à respecter sont celles en vigueur partout en France : port du masque, désinfection des mains, distanciation sociale. Nous vous demandons d'user de votre bon sens afin d'éviter les attroupements.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Accordion -->
                        </div>
                        <div id="tabs-accessibilite" class="plr-0">
                            <div class="accordion">
                                <div class="accordion-section">
                                    <h6 class="accordion-title">Comment accéder aux concerts (horaires, plan...) ?</h6>
                                    <div class="accordion-content">
                                        <p>
                                            Cette année les concerts sont prévus en ligne sur
                                            <a href="/livestream"> ce lien </a>
                                            Ils auront lieu de 20h à minuit le vendredi et le samedi. Les concerts sont totalement gratuits.
                                        </p>
                                    </div>
                                </div>
                                <div class="accordion-section">
                                    <h6 class="accordion-title">Comment accéder aux animations en journée (horaires, plan...) ?</h6>
                                    <div class="accordion-content">
                                        <p>
                                            Cette année une WebTV est prévue sur
                                            <a href="/webtv">ce lien</a>
                                            Elle aura lieu de 13h30 à 18h le samedi et le dimanche. Des animations sont également mises en place sur le Campus de la Doua à Villeurbanne le samedi 22, dimanche 23 et lundi 24 Mai. L’intégralité du festival est gratuit.
                                        </p>
                                    </div>
                                </div>
                                <div class="accordion-section">
                                    <h6 class="accordion-title">Comment accéder aux courses (horaires, plan...) ?</h6>
                                    <div class="accordion-content">
                                        <p>
                                            Pour cette édition, le parcours des courses ne sera pas délimité sur le campus comme habituellement
                                        </p>
                                        <p>
                                            <a href="/courses/informations">Plus d’infos sur la FAQ des courses</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tabs-divers" class="plr-0">
                            <div class="accordion">
                                <div class="accordion-section">
                                    <h6 class="accordion-title">Peut-on se restaurer et se reposer ?</h6>
                                    <div class="accordion-content">
                                        <p>
                                            Pour des raisons sanitaires aucun stand de boisson ou de restauration ne sera mis en place sur le campus. Vous pourrez profiter des espaces verts du campus si vous souhaitez vous reposer.
                                        </p>
                                    </div>
                                </div>
                                <div class="accordion-section">
                                    <h6 class="accordion-title">Je souhaite devenir partenaire ou prestataire, comment faire ?</h6>
                                    <div class="accordion-content">
                                        <p>Pour toute demande ou suggestion, rendez vous à la rubrique <a href="/infos/contact">Contactez-Nous</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Work Section -->
        
        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.downCount.js" type="text/javascript"></script>

    <script type="text/javascript">
		$('.countdown').downCount({
			date: '05/17/2019 19:00:00',
			offset: +10
		}, function () {
		});
    </script>
    <script type="text/javascript">
		$("#menu-infos-pratiques").css('color', '#E20917');
		$("#sidebar-menu-faq").css('color', '#E20917');
        $("#title-page-nav").append("FAQ");
    </script>


    
</body>
</html>
