<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

    <!-- Preloader --> <!--
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->

    <!-- Sidebar Menu -->
        <%- include sidebar.ejs %>
    <!-- End Sidebar Menu -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
            <%- include header.ejs %>
        <!-- End Header -->


        <!-- CONTENT --------------------------------------------------------------------------------->

        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/infos-transports.jpg">
            <div class="container">
                <div class="title">
                    <div class="h1-titre">TRANSPORTS</div><br>
                    <h4 class="">
                        <span class="text-original-case">Rejoignez le festival sur le campus de la Doua facilement</span>
                    </h4>
                </div>
            </div>
        </section>

        <div class="mt-3 mb-3"></div>

        <section id="service" class="wow fadeIn pt-60 pb-80">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><div class="container"><img class="pt-1" src="/img/transports/transports_2019_train.png"  style="object-fit: contain; max-width: 200px; max-height: 200px;"width="100%";/></div></div>
                        <h5>En train</h5>
                        <p>Depuis la Gare PART-DIEU : <br>Empruntez le <strong>tram T1</strong> ou le <strong>tram T4</strong>.</p>
                        <p>Depuis la Gare PERRACHE : <br>Empruntez le <strong>métro A</strong>, arrêt <strong>Charpennes</strong>, puis empruntez le tram T1 ou T4.</p>
                    </div>
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><div class="container"><img class="pt-1" src="/img/transports/transports_2019_tram.png"  style="object-fit: contain; max-width: 200px; max-height: 200px;"width="100%";/></div></div>
                        <h5>En tram</h5>
                        <p><strong>Tram T1</strong> : direction La Doua IUT Feyssine, arrêt <strong>INSA Einstein</strong></p>
                        <p><strong>Tram T4</strong> : direction La Doua Gaston Berger, arrêt <strong>La Doua Gaston Berger</strong></p>
                        <p>Tarif : 1€90 le ticket.</p>
                        <p><b>Attention peu de tram après les concerts</b></p>
                    </div>
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><div class="container"><img class="pt-1" src="/img/transports/transports_2019_bus.png"  style="object-fit: contain; max-width: 200px; max-height: 200px;"width="100%";/></div></div>
                        <h5>En bus</h5>
                        <p><strong>Bus C17</strong> : arrêt <strong>INSA Einstein</strong></p>
                        <p><strong>Bus C26</strong> : arrêt <strong>INSA Einstein</strong></p>
                        <p>Tarif : 1€90 le ticket (2€20 à bord).</p>
                    </div>
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><div class="container"><img class="pt-1" src="/img/transports/transports_2019_velov.png"  style="object-fit: contain; max-width: 200px; max-height: 200px;"width="100%";/></div></div>
                        <h5>En vélo'v</h5>
                        <p>Attention les bornes velo'v du campus de la Doua sont désactivées pendant le festival.
                            Les bornes 10103 (rue des sports), 10002 (INSA far), 10084 (avenue des arts), 10102 (Gaston Berger) sont indisponibles.</p>
                    </div>
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><div class="container"><img class="pt-1" src="/img/transports/transports_2019_voiture.png"  style="object-fit: contain; max-width: 200px; max-height: 200px;"width="100%";/></div></div>
                        <h5>En voiture</h5>
                        <p>L'intégralité du campus de La Doua est fermé à la circulation du Vendredi 19 mai 18h jusqu'au Lundi 22 mai 8h. Il y'a très peu de place aux alentours. Privilégiez les transports en communs.</p>
                    </div>
                    <div class="col-md-4 mb-45 d-none">
                        <div class="page-icon-top"><div class="container"><img class="pt-1" src="/img/transports/transports_2019_naveco.png"  style="object-fit: contain; max-width: 200px; max-height: 200px;"width="100%";/></div></div>
                        <h5>Avec Naveco</h5>
                        <p><b>10% de réduction avec le code 24HINSA</b></p>
                        <p>Trajet en berline pour 1 à 3 personnes ! Télécharger l'application <b>"Naveco : Chauffeur privé"</b></p>
                    </div>
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><div class="container"><img class="pt-1" src="/img/transports/transports_2019_pied.png"  style="object-fit: contain; max-width: 200px; max-height: 200px;"width="100%";/></div></div>
                        <h5>A pied</h5>
                        <p>Adresse : <br>20 Avenue Albert Einstein<br>69100 Villeurbanne</p>
                        <p>Localisation : <a href="https://goo.gl/maps/YR5CwPb563L2" target="_blank">Google Map</a></p>
                    </div>
                </div>
            </div>
        </section>

        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
            <%- include footer.ejs %>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->


    <!-- JS -->

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script>
		$(".btn-plus-info").click(function(){
			setTimeout(function(){
				$(".jjj").each(function(i){
					var w = $(this).width();
					if (w > 0) {
						$(".modal-artiste-video").height(w*315/560);
						return false;
                    }
				});
			}, 1000);
		});
		$(window).resize(function() {
			$(".jjj").each(function(i){
				var w = $(this).width();
				if (w > 0) {
					$(".modal-artiste-video").height(w*315/560);
					return false;
				}
			});
		});
    </script>
    <script type="text/javascript">
		$("#menu-infos-pratiques").css('color', '#e83d44');
		$("#sidebar-menu-transports").css('color', '#e83d44');
		$("#title-page-nav").append("Transports");
    </script>
    
</body>
</html>
