<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>

<!-- Preloader --> <!--
    <!--<section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section> -->
<!-- End Preloader -->

<!-- Sidebar Menu -->
<%- include sidebar.ejs %>
<!-- End Sidebar Menu -->

<!-- Site Wraper -->
<div class="wrapper">

    <script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
    <script src="../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="../js/plugin/wow.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
    <script src="../js/plugin/mediaelement-and-player.min.js"></script>
    <script src="../js/theme.js" type="text/javascript"></script>
    <script src="../js/plugin/jquery.downCount.js" type="text/javascript"></script>

    <style type="text/css">
        /* counter clock css */
        ul.countdown {
            list-style: none;
            padding: 0;
            display: block;
            text-align: center;
            font-family: 'arial', sans-serif !important;
        }

        .font-billetterie-date3{
            font-size: 50px;
            line-height: 42px;
        }

        ul.countdown li {
            display: inline-block;
        }

        ul.countdown li span {
            font-size: 75px;
            font-weight: 300;
            color: #E20917;

        }

        ul.countdown li.seperator {
            font-size: 3vw;
            line-height: 30px;
            vertical-align: top;
            color: #E20917;

        }

        ul.countdown li p {
            color: #E20917;
            font-size: 3vw;
        }
        /* emd counter clock css */

        @media (max-width: 767px) {

            .text-center-xs {
                text-align: center;
            }
        }

        @media (min-width: 1000px) {
            .font-billetterie-date{
                font-size: 90px;
            }

            .font-billetterie-date2{
                font-size: 30px;
            }

            ul.countdown li span {
                font-size: 90px;
                color: #E20917;
                font-weight: 300;
            }

            ul.countdown li.seperator {
                font-size: 60px;
                line-height: 40px;
                vertical-align: top;
                color: #E20917;

            }

            ul.countdown li p {
                color: #E20917;
                font-size: 28px;
            }
        }

        @media (max-width: 600px) {
            .font-billetterie-date{
                font-size: 90px;
            }
            .font-billetterie-date2{
                font-size: 15px;
            }

            ul.countdown li span {
                font-size: 30px;
                color: #E20917;
                font-weight: 300;
            }

            ul.countdown li.seperator {
                font-size: 15px;
                line-height: 40px;
                vertical-align: top;
                color: #E20917;

            }

            ul.countdown li p {
                color: #E20917;
                font-size: 15px;
            }
        }
    </style>

    <!-- Header ("header--dark", "header-transparent", "header--sticky")-->
    <%- include header.ejs %>
    <!-- End Header -->

    <!-- JS -->

    <!-- CONTENT --------------------------------------------------------------------------------->

    <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background4" data-background-img="../img/background/pimpmybike.jpg">
        <div class="container">
            <div class="title">
                <div class="h1-titre">Pimp My Bike</div><br>
                <h4 class="">
                        <span class="text-original-case">
                            Retrouvez toutes les informations relatives aux challenge Pimp my bike<br>
                            46ème édition
                        </span>
                </h4>
            </div>
        </div>
    </section>

    <section class="ptb pt-5 parallax">
        <div class="container">
            <!-- work Filter -->
            <!-- End work Filter -->

            <div class="text-center p-3">
                <h4>
                        <span class="text-original-case " style="font-weight: bold">
                            Cette année, la course folklo ne peut avoir lieu à cause des restrictions sanitaires…😥 mais on vous rassure, l’équipe des 24 Heures vous a concocté un nouveau challenge à la place ! 🤩 Nous l’avons rapidement introduit dans le post précédent : c’est le challenge Pimp my Bike !
                            <br><br>
                            Pour participer, décores ton vélo, transforme-le… rends-le le plus original possible ! 🤪
                            <br><br>
                            Ensuite, du dimanche 16 mai au dimanche 23 mai, tu auras une semaine pour nous envoyer une photo ou une vidéo de ton œuvre sur
                            <a href="https://www.facebook.com/events/462940684927497/?acontext=%7B%22event_action_history%22%3A[%7B%22extra_data%22%3A%22%22%2C%22mechanism%22%3A%22page_upcoming_events_card%22%2C%22surface%22%3A%22page%22%7D%2C%7B%22extra_data%22%3A%22%22%2C%22mechanism%22%3A%22surface%22%2C%22surface%22%3A%22create_dialog%22%7D]%7D&onload_action=online_event_upsell_dialog"
                               style="color: #888 ">
                            notre événement facebook des courses.
                            </a>
                            Un vote aura lieu le dimanche entre les 6 meilleures participations choisies par notre équipe sur la page facebook des 24h. Le lundi 24, nous annoncerons le grand gagnant, qui sera bien évidemment récompensé 😉
                            <br><br>
                            Le règlement du concours
                            <a href="/documents/Réglement-Concours-Pimp-my-bike.pdf"
                                                        style="color: #888">
                                sur ce lien
                            </a>
                            <br><br>
                            On compte sur vous, soyez créatifs !

                        </span>
                </h4>
            </div>
        </div>
    </section>

    <!-- END CONTENT ---------------------------------------------------------------------------->

    <!-- FOOTER -->
    <%- include footer.ejs %>
    <!-- END FOOTER -->



    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

</div>
<!-- Site Wraper End -->

<!-- JS -->
<script type="text/javascript">
    $('.countdown').downCount({
        date: '05/21/2021 20:00:00',
        offset: +1
    }, function () {
        return;
    });
    $("#menu-courses").css('color', "#E20917");
</script>

</body>
</html>
