<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body>


<!-- Site Wraper -->
<div class="wrapper" style="background-image: url('/img/site/fond_2.jpg'); background-size: cover; background-position: center">

        <!--Header-->
        <header id="header" class="header" style="display:none;">
            <nav id="navigation" class="header-nav"></nav>
        </header>
        <!--End Header-->

        <!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro -->
        <section id="intro" class="intro">
            <!-- Static Intro -->
            <div class="bg-image parallax parallax-background2">
                <div class="full-screen-intro container" style="min-height: 400px;">
                    <div class="intro-content">
                        <div class="intro-content-inner">
                            <img src="/img/logos/logo_24h_insa_edition_2019_horizontal_nuit_sf_100px.png" class="pb-3">
                            <h2 class="large mb-25 white">DOSSIER DE PRESSE 2019</h2>
                            <br />
                            <a href="../documents/Dossier_presse_24h_insa_2019.pdf" class="btn btn-md btn-white">Voir / Télécharger</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Static Intro -->
        </section>
        <!-- End Intro -->


        <!-- End CONTENT ------------------------------------------------------------------------------>


        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    <!-- END CONTENT ---------------------------------------------------------------------------->

    <!-- FOOTER -->
    <!-- END FOOTER -->

    <!-- Scroll Top -->
    <a class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

</div>
<!-- Site Wraper End -->


<!-- JS -->

<script src="../js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="../js/jquery-ui.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.easing.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.flexslider.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.fitvids.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.stellar.min.js" type="text/javascript"></script>
<script src="../js/plugin/wow.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="../js/plugin/owl.carousel.min.js" type="text/javascript"></script>
<script src="../js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="../js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>
<script src="../js/plugin/mediaelement-and-player.min.js"></script>
<script src="../js/plugin/jquery.validate.min.js" type="text/javascript"></script>
<script src="../js/theme.js" type="text/javascript"></script>
<script type="text/javascript">
</script>

</body>
</html>
