<div class="sidebar-menu">
    <div class="sidembar-menu-wrap">
        <a href="javascript:void(0)" class="sidebar-close-icon icon--close">
            <i class="ion ion-android-close"></i>
        </a>
        <!--Sidebar Content-->
        <div class="sidebar-content">
            <h5 class="white">CONCERTS</h5>
            <ul>
                <li><a href="/concerts/artistes" id="sidebar-menu-artistes">Artistes</a></li>
                <li><a href="/concerts/tremplins" id="sidebar-menu-tremplins">Tremplins</a></li>
                <!--<li><a href="/concerts/timetable">Timetable</a></li>-->
                <li><a href="/billetterie" id="sidebar-menu-billetterie">Billetterie</a></li>
            </ul>
            <h5 class="white">ANIMATIONS</h5>
            <ul>
                <li><a href="/animations"  id="sidebar-menu-animations">Animations</a></li>
                <li><a href="/prevention"  id="sidebar-menu-prevention">Prévention</a></li>
            </ul>
            <h5 class="white">COURSES</h5>
            <ul>
                <li><a href="/courses/inscriptions"  id="sidebar-menu-inscriptions">Inscriptions</a></li>
                <li><a href="/courses/connexion" id="sidebar-menu-connexion">Connexion</a></li>
                <li><a href="/courses/informations" id="sidebar-menu-informations">Informations</a></li>
                <li><a href="/courses/course-caritative" id="sidebar-menu-caritative">Course Caritative</a></li>
                <li><a href="/courses/parcours"  id="sidebar-menu-parcours">Parcours</a></li>
                <li><a href="/courses/resultats"  id="sidebar-menu-resultats">Résultats</a></li>
            </ul>
            <h5 class="white">INFOS PRATIQUES</h5>
            <ul>
                <li><a href="/infos/transports" id="sidebar-menu-transports">Transports</a></li>
                <li><a href="/infos/bars-restauration" id="sidebar-menu-restauration">Bars/Restauration</a></li>
                <li><a href="/infos/faq" id="sidebar-menu-faq">FAQ</a></li>
                <li><a href="/infos/contact" id="sidebar-menu-contact">Nous contacter</a></li>
            </ul>
            <h5 class="white">A PROPOS</h5>
            <ul>
                <!--<li><a href="/histoire" id="sidebar-menu-histoire">Histoire</a></li>-->
                <li><a href="/organisation" id="sidebar-menu-organisation">Organisation/Association</a></li>
                <li><a href="/partenaires" id="sidebar-menu-partenaires">Les partenaires</a></li>
                <li><a href="/benevolat" id="sidebar-menu-benevoles">Devenir bénévole</a></li>
            </ul>
            <h5 class="white"><ul><li><a href="/billetterie">BILLETTERIE</a></li></ul></h5>
        </div>
    </div>
</div>