<div class="sidebar-menu">
    <div class="sidembar-menu-wrap">
        <a href="javascript:void(0)" class="sidebar-close-icon icon--close">
            <i class="ion ion-android-close"></i>
        </a>
        <!--Sidebar Content-->
        <div class="sidebar-content">
            <h5 class="white">CONCERTS</h5>
            <ul>
                <li><a href="/concerts/artistes">Artistes</a></li>
                <li><a href="/concerts/timetable">Timetable</a></li>
                <li><a href="/billetterie">Billetterie</a></li>
            </ul>
            <h5 class="white">ANIMATIONS</h5>
            <ul>
                <li><a href="./animations">Animations</a></li>
                <li><a href="/prevention">Prévention</a></li>
            </ul>
            <h5 class="white">COURSES</h5>
            <ul>
                <li><a href="/courses/inscriptions">Inscriptions</a></li>
                <li><a href="/courses/parcours">Parcours</a></li>
                <li><a href="/courses/resultats">Résultats</a></li>
            </ul>
            <h5 class="white">INFOS PRATIQUES</h5>
            <ul>
                <li><a href="/infos/transports">Transports</a></li>
                <li><a href="/infos/bars-restauration">Bars/Restauration</a></li>
                <li><a href="/infos/faq">FAQ</a></li>
                <li><a href="/infos/contact">Nous contacter</a></li>
            </ul>
            <h5 class="white">A PROPOS</h5>
            <ul>
                <li><a href="/histoire">Histoire</a></li>
                <li><a href="/organisation">Organisation</a></li>
                <li><a href="/partenaires">Les partenaires</a></li>
                <li><a href="/benevolat">Devenir bénévole</a></li>
            </ul>
            <h5 class="white"><a href="billetterie.php">BILLETTERIE</a></h5>
        </div>
    </div>
</div>