<div class="sidebar-menu">
    <div class="sidembar-menu-wrap">
        <a href="javascript:void(0)" class="sidebar-close-icon icon--close">
            <i class="ion ion-android-close"></i>
        </a>
        <!--Sidebar Content-->
        <div class="sidebar-content">
            <h5 class="white">CONCERTS</h5>
            <ul>
                <li><a href="/concerts/artistes" id="sidebar-menu-artistes">Artistes</a></li>
                <li class=""><a href="/concerts/tremplins" id="sidebar-menu-tremplins">Tremplins</a></li>
                <li class="d-none"><a href="/concerts/timetable" id="sidebar-menu-timetable">Timetable</a></li>
                <li class="d-none"><a href="/billetterie" id="sidebar-menu-billetterie">Billetterie</a></li>
            </ul>
            <ul>
                <h5 class="white">Lives</h5>
                <ul>
                    <li><a class="white" href="/livestream" id="menu-live">Livestream</a></li>
                    <li><a class="white" href="/webtv" id="menu-webtv">WebTV</a></li>
                    <li><a class="white" href="/timetable" id="menu-timetable">Timetable</a></li>
                </ul>

            </ul>
            <h5 class="white">ANIMATIONS</h5>
            <ul>
                <li><a href="/animations"  id="sidebar-menu-animations">Animations</a></li>
                <li><a href="/prevention"  id="sidebar-menu-prevention">Prévention</a></li>
                <li class="d-none"><a href="/animations/plan"  id="sidebar-menu-plan">Plan</a></li>
            </ul>
            <h5 class="white">COURSES</h5>
            <ul>
                <li class="d-none"><a href="/courses/inscriptions"  id="sidebar-menu-inscriptions">Inscriptions</a></li>
                <li class="d-none"><a href="/courses/connexion" id="sidebar-menu-connexion">Connexion</a></li>
                <li class="d-none"><a href="https://my24h.24heures.org" id="sidebar-menu-connexion">24h de course</a></li>
                <li class="d-none"><a href="https://my24h.24heures.org/#/pimpMyBike" id="sidebar-menu-informations">Pim my bike</a></li>
                <li class=""><a href="/courses/course-caritative" id="sidebar-menu-caritative">Course Caritative</a></li>
                <li class="d-none"><a href="/courses/parcours"  id="sidebar-menu-parcours">Parcours</a></li>
                <li><a href="/courses/resultats"  id="sidebar-menu-resultats">Résultats</a></li>
                <li class="d-none"><a href="/courses/informations" id="sidebar-menu-informations">Informations</a></li>
            </ul>
            <h5 class="white">INFOS PRATIQUES</h5>
            <ul>
                <li class=""><a href="/infos/bars-restauration" id="sidebar-menu-restauration">Bars/Restauration</a></li>
                <li class=""><a href="/infos/payer" id="sidebar-menu-payer">Comment Payer ?</a></li>
                <li><a href="/infos/transports" id="sidebar-menu-transports">Transports</a></li>
                <li><a href="/infos/faq" id="sidebar-menu-faq">FAQ</a></li>

            </ul>
            <h5 class="white">A PROPOS</h5>
            <ul>
                <!--<li><a href="/histoire" id="sidebar-menu-histoire">Histoire</a></li>-->
                <li><a href="/benevolat" id="sidebar-menu-benevoles">Devenir bénévole</a></li>
                <li><a href="/organisation" id="sidebar-menu-organisation">Organisation/Association</a></li>
                <li><a href="/partenaires" id="sidebar-menu-partenaires">Les partenaires</a></li>
                <li><a href="/infos/contact" id="sidebar-menu-contact">Nous contacter</a></li>
            </ul>

        </div>
    </div>
</div>